{% extends "Home/main.html.twig" %}

{% block content %}
    <div>
    <div class="grid-x">
      <div class="cell large-6 medium-12 small-12 large-order-2 small-order-2">
        <div class="about-us-content-container purple">
          <div class="about-us-content">
            <h3>OUR STORY</h3>
            <p>
              Three great friends, Dean, Michelle and Robert
              were chatting one evening, when it dawned on
              them how many stories they had and how much
              they enjoyed each other’s stories. They realized
              everyone has family, friends, careers, etc. and every
              aspect of our lives gives us stories to tell. The LuvMyStory founders want you to have the same gift of a
              well captured story and a way to share it with the
              people who matter.
            </p>
          </div>
        </div>
      </div>
      <div class="cell large-6 medium-12 small-12 large-order-2 small-order-1">
        <div class="about-us-content-container about-us-content-container-device purple">
          <img src="/assets/img/Team (1).png">
        </div>
      </div>

    </div>
    <div class='grid-x'>
          <div class="cell large-6 medium-12 small-12 small-order-3">
        <div class="about-us-content-container about-us-content-container-device purple">
          <img src="/assets/img/Team.png">
        </div>
      </div>
      <div class="cell large-6 medium-12 small-12 small-order-4">
        <div class="about-us-content-container purple">
          <div class="about-us-content">
            <h3>OUR TEAM</h3>
            <p>
             We have assembled an amazing team broadcasters, technologist,
designers, and AV professionals who are passionate about the
human journey and capturing it for you. Dozens of years of experience
and true talent working for you.
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>

    {% include 'js.html.twig' %}

{% endblock %}