
 {% extends "main.html.twig" %}

{% block content %}

 <div class="grid-x">
    <div class="cell large-6 medium-12 small-12 small-order-2 large-order-1">
    <div class="content-container page-content-cage yellow">
        <div class="grid-x">
            <div class="cell large-5 medium-12 small-12 small-order-2 large-order-1">
                {# <div class="button-container">
                    <a class="button text-pink">LEARN MORE</a>
                </div> #}
            </div>
            <div class="cell large-12 medium-12 small-12 small-order-1 large-order-2">

                <div class="page-text-container">
                    <h3>The Heartbeat of Your Business is Your Story</h3>
                    <p>
                         Behind every thriving business is a captivating tale of dreams, struggles, and triumphs. But how often does this story get overshadowed by the hustle of daily operations? At LuvMyStory™, we believe in celebrating the entrepreneur in you. In a LuvMyBusiness
                         session, we pair you with a seasoned broadcaster who expertly guides you in narrating your unique entrepreneurial journey spotlighting your amazing products and services.
                    </p>
                    <p>
                         And it doesn’t end at recording. Our adept team transforms your words into a beautifully edited and sound-engineered masterpiece—an episode that resonates with both your long-time supporters and potential customers. 
                    </p>
                    <p>
                         Deepen your connection, humanize your brand, and stand out in the marketplace with your authentic voice. We can even help you produce a weekly or monthly podcast for your customers.

                      
                    </p>   
                    <p>
                         <span class='bolder'>Are you ready to leave an indelible mark?</span></br>
                         Book a LuvMyBusiness session today.
                      
                    </p> 
                </div>
                <div class="mt30 p40 text-sm-center">
                    <a class="btn-a text-white primary-button font-sm-13" href="{{path('home_book_now')}}">Book now</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="cell large-6 medium-12 small-12 right-content small-order-1 large-order-2">
    {# <div class="yellow-overlay"> </div> #}
    {# <img class="img-logo" src="/assets/img/lovemystory_business.svg" > #}
    <div class="content-container page-content-container page-content-cage">
        <div class="img-container yellow"><img src="/assets/img/business_new.png"></div>
    </div>
    </div>
</div>

    {# <div class="grid-x grid-main ">
        <div class="cell large-12">
            <div class="container">
                <div class="text-container p30 ">
                    <div class='content-text mt20'>
                        Everybody loves a good small business story. From idea to start-up to success, your customers and future customers want to hear the story of your journey and the story behind the business they love. Giving your customers your story will inspire them, create stronger loyalty, and give them a new story to share with friends and family about your business!
                    </div>
                    <div class='content-text mt10 content-text-label'>LuvMyStory captures the story of your business, brings to light your journey and the essence of your products and services. This audio can also be used in an email to customers or as a podcast to showcase your work and help to catapult you to the next level of success.</div>
                </div>
            </div>
        </div>
    </div> #}

{% include 'js.html.twig' %}

{% endblock %}