{% extends 'Home/main.html.twig' %}

{% block content %}
<div class='main-content'>
    <div class="grid-x form-grid">
      <div class="cell large-6 medium-12 small-12 yellow">
        <div class='page-title-container'>
          <div class="page-text-container travel_content">
             <h4>The Heartbeat of Your Business is Your Story</h4>
                <p>
                      Behind every thriving business is a captivating tale of dreams, struggles, and triumphs. But how often does this story get overshadowed by the hustle of daily operations? At LuvMyStory™, we believe in celebrating the entrepreneur in you. In a LuvMyBusiness
                      session, we pair you with a seasoned broadcaster who expertly guides you in narrating your unique entrepreneurial journey spotlighting your amazing products and services.
                </p>
                <p>
                      And it doesn’t end at recording. Our adept team transforms your words into a beautifully edited and sound-engineered masterpiece—an episode that resonates with both your long-time supporters and potential customers. 
                </p>
                <p>
                      Deepen your connection, humanize your brand, and stand out in the marketplace with your authentic voice. We can even help you produce a weekly or monthly podcast for your customers.

                  
                </p>   
                <p>
                      <span class='bolder'>Are you ready to leave an indelible mark?</span></br>
                      Book a LuvMyBusiness session today.
                  
                </p> 

            <div class="mt30 p40 text-sm-center b-container">
              <a class="btn-a text-white primary-button  font-sm-13" href="/book_bow">Book Now</a>
          </div>
        </div>
     
        </div>
      </div>
      <div class="cell large-6 medium-12 small-12   ">
        <div class='page-title-container'>
           <img src="/assets/img/business_new.png">
        </div>
       </div>
    </div>

  </div>
{% include 'js.html.twig' %}

<script type='text/javascript'>


</script>    
    
{% endblock %}