{% extends 'Home/main.html.twig' %}

{% block content %}
<div class='main-content'>
    <div class="grid-x form-grid">
      <div class="cell large-6 medium-12 small-12 teal">
        <div class='page-title-container'>
          <div class="page-text-container travel_content">
            <h4>Unleash Your Unique Career Journey</h4>
            <p>
                Do you want your resume to stand out in a crowded job market? Look no further! A LuvMyCareer session will transform your professional journey into a captivating audio story. Instead of a paper resume, imagine presenting your career as a gripping episode, guided
                by a professional broadcaster, finely edited, and sound-engineered to perfection. 
            </p>
            <p>
                One of our story experts dives deep into your experiences to extract a narrative that doesn’t just list your achievements, but celebrates them. It’s not just a CV; it's an audio experience that will leave hiring managers and recruiters utterly impressed. Dive
                into the future of job applications with LuvMyCareer and let your story resonate with potential employers.
            </p>
            <p>
               <span class='bolder'> Take action now!</span> Give your career the stage it deserves and elevate your job hunt. Book your LuvMyCareer session today!
            </p>

            <div class="mt30 p40 text-sm-center b-container">
              <a class="btn-a text-white primary-button  font-sm-13" href="/book_bow">Book Now</a>
          </div>
        </div>
     
        </div>
      </div>
      <div class="cell large-6 medium-12 small-12   ">
        <div class='page-title-container'>
           <img src="/assets/img/career_new.png">
        </div>
       </div>
    </div>

  </div>
{% include 'js.html.twig' %}

<script type='text/javascript'>


</script>    
    
{% endblock %}