{% extends 'Home/main.html.twig' %}

{% block content %}
<div class='main-content'>
    <div class="grid-x form-grid">
      <div class="cell large-6 medium-12 small-12 purple">
        <div class='page-title-container'>
          <div class="page-text-container travel_content">
              <h4>Unlock the Legends Within Your Family</h4>

                        <p >
                           Every family has a tapestry of tales, woven with laughter, tears, and moments that define generations. At LuvMyStory™, we are driven by a single passion: to bring those stories alive. Whether it’s the tale of your family’s most memorable vacation, the magic
                            of Christmas 2009, or the resilience shown during Hurricane Katrina, our professional Story Guides are here to help capture and narrate every emotion, every nuance.
                        </p>

                         <p >
Don’t let these memories fade into the sands of time. Let's immortalize them. Choose a LuvMyFamily session. today and give your descendants the gift of legacy.</p>  

                        <p class='bolder'>
Book now! Let's turn your family moments into timeless tales. </p>  


            <div class="mt30 p40 text-sm-center b-container">
              <a class="btn-a text-white primary-button  font-sm-13" href="/book_bow">Book Now</a>
          </div>
        </div>
     
        </div>
      </div>
      <div class="cell large-6 medium-12 small-12   ">
        <div class='page-title-container'>
           <img src="/assets/img/family_new.png">
        </div>
       </div>
    </div>

  </div>
{% include 'js.html.twig' %}

<script type='text/javascript'>


</script>    
    
{% endblock %}