{% extends 'base.html.twig' %}

{% block main %}

<div class="grid-x grid-padding-x align-center-middle text-center fullheight bg-white " id="forgotPasswordContainer">
  <div class="cell large-4 text-left">
    <div class='mb40'>
      <a href="/"> <img src="/assets/img/mystory-logo-pink.png" class='header-logo' ></a>
    </div>
    <div class='mb30'>
      <h6>Forgot Password?</h6>
    </div>

    {% if token is defined and token is not null %}
      An email is sent to your email to change your password 
    {% else %}
      <div class="mb30 text-gray description">
        Enter the email address used when you joined and we'll send you instruction to reset your password
      </div>
      <div class="mb30 text-gray description">
        For security reasons, we do NOT store your password. So rest assured that we will never send your password via email.
      </div>
      <div>
        <form id='forgotPasswordForm' action="{{ path('home_forgot_password')}}" method="POST">
            <label>Email Address<label>
            <input type='email' name='email' required/>
            <button type="submit" class='button'>Reset Password</button>
        </form>
    </div>
    {% endif %}
  
  </div>
</div>

{% include 'js.html.twig' %}

<script type='text/javascript'>
  $(document).ready(function(){
    $('body').css('padding-top', '0px');
  });
</script>    
    
{% endblock %}