{% extends "Home/main.html.twig" %}

{% block content %}
    <div class="main-content">
        <div class="hlp-ukrn-conteiner">
            <div class="hlp-container">
                <div class="hlp-img-container float-left"></div>
                <div class="hlp-content-container float-left">
                    <h4>Help Ukraine</h4>
                    <p>Every contribution counts! Join us in providing essential aid to the people of Ukraine as they face a challenging time. Together, we can make a difference and offer a ray of hope.</p>
                    <h6>Why Donate?</h6>
                    <ul>
                        <li>Emergency Relief: Your donation will provide immediate assistance, including food, shelter, and medical care to those affected by the crisis.</li>
                        <li>Supporting Families: Help reunite families and provide children with a safer, more stable environment.</li>
                        <li>Rebuilding Communities: Contribute to long-term recovery efforts, including rebuilding infrastructure and local businesses.</li>
                    </ul>
                    <h6>Make a Difference Today:</h6>
                    <a href='https://u24.gov.ua' target='_blank'>Donate Now</a>
                </div>
            </div>
        </div>
    </div>
{% include 'js.html.twig' %}

{% endblock %}