{% extends 'Home/main.html.twig' %}

{% block content %}
<div class='main-content'>
    <div class="grid-x form-grid">
         <div class="cell large-12 medium-12 small-12">
            <div id='main-banner'>
              <div class="grid-x grid-main home-section-recording">
                    <div class="cell large-6 large-order-1 medium-order-2 small-order-2 home-main-bg">
                        <img class="hide-for-large"src="assets/img/section_img_lms_old_man.png">
                    </div>
                    <div class="cell large-6 medium-12 small-12 home-section-content large-order-2 medium-order-1 small-order-1">
                        <div class="home-section-text-container">
                            <h3>Capture your loved one's journey with the ultimate gift: A personalized audio recording of their stories.</h3>
                            <p>Create a special recording of a loved one's treasured memories in their own voice. A LuvMyStory<sup>TM</sup> recording is a keepsake that your family will love and remember for many years.</p>
                            <p>Cherish the time you have, book today and start creating a precious family heirloom.</p>
                            <a href='{{path("home_registration")}}' class='text-white'>Personal Sessions Only $139 </a>
                            <div class='mt10'>
                                <a href='{{path("dashboard_book_now")}}' class='text-white  button pink rounded-medium'>Book Now </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="grid-x grid-main ">
                    <div class="cell large-4 medium-12 small-order-2 large-order-1">
                        <div class="content-container index-content">
                            <div class="text-container section-1-1 ">
                                <div class="text-cage">
                                    <h3>You have a story to tell.</h3>
                                    <p> 
                                       Before the opportunity passes, preserve your unique memories and family history with LuvMyStory™. Our team will ensure that your one-of-a-kind stories, narrated in your voice, are transformed into meaningful keepsake audio-episodes for you to pass down through the generations.   
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-4 medium-12 small-order-4 large-order-4">
                        <div class="content-container index-content">
                        
                            <div class="text-container section-1-2">
                                 <div class="text-cage">
                                    <h3>LuvMyStory</h3>
                                     <div class='play-audio-container'>
                                        <a href="javascript:void(0);"  class='play-btn' data-audiodesc='luvmystory'>
                                            <img src='/assets/img/play-btn-index.png' />
                                            PLAY AUDIO
                                        </a>
                                        <audio  src="/assets/audio/luvmystory.mp3" type="audio/ogg" id='luvmystory'></audio>  
                                    </div>
                                </div>
                            {# <img src="/assets/img/homepage1_new.png"> #}
                            </div>
                        </div>
                    </div>
                    <div class="cell large-4 medium-12 small-order-1 large-order-2">
                        <div class="content-container index-content">
                            <div class="img-container ">
                                <div class="wrapper-video">
                                    <video width="100%"  height="100%" controls="false"   id='index-video'>
                                    <source src="/assets/video/LuvMyStory.mp4" type="video/mp4"></video>
                                </div>
                                <div class="playpause"></div>

                            </div>
                        </div>
                    </div>
                      <div class="cell large-4 medium-12 small-order-5 large-order-5">
                        <div class="content-container index-content">
                           
                            <div class="text-container section-2-2">
                                 <div class="text-cage">
                                    <h3>Travel Adventure</h3>
                                    <div class='play-audio-container'>
                                        <a href="javascript:void(0);" class='play-btn' data-audiodesc='luvmytravel'>
                                            <img src='/assets/img/play-btn-index.png' />
                                            PLAY AUDIO
                                        </a>
                                      <audio  src="/assets/audio/luvmytravel.mp3" type="audio/ogg" id='luvmytravel'></audio>  

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-4 medium-12 small-order-3 large-order-3">
                        <div class="content-container index-content">
                            <div class="text-container section-3-1">
                                <div class="text-cage">
                                    <h3>Your story expertly shaped.</h3>
                                    <p> 
                                        Our team crafts each narrative with meticulous editing and superior sound engineering, giving life to your stories in a way you've never heard before. This is your chance to preserve personal history, to share a laugh, a lesson, or a legacy with generations to come.                                    </p>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-4 medium-12 small-order-6 large-order-6">
                        <div class="content-container index-content">
                           
                            <div class="text-container section-3-2">
                                <div class="text-cage">
                                    <h3>LuvMyBusiness</h3>
                                     <div class='play-audio-container'>
                                        <a href="javascript:void(0);"  class='play-btn' data-audiodesc='luvmybusiness'>
                                            <img src='/assets/img/play-btn-index.png' />
                                            PLAY AUDIO
                                        </a>
                                        <audio  src="/assets/audio/luvmybusiness.mp3" type="audio/ogg" id='luvmybusiness'></audio>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-main bg-white" data-equalizer>
                    <div class="cell large-6 ">
                        <div class="container p10p " >
                            <div class="text-container text-white bg-skyblue p70 text-center large-text-left" data-equalizer-watch>
                                <h2>Power of Shared Stories</h2>
                                <div class='content-text mt20'>Sharing stories about our lives, families, jobs, and businesses is important for many reasons. Our stories show who we are, what we value, and where we come from, helping us understand and connect with each other. They keep our heritage alive and create a sense of belonging. </div>
                                <div class='content-text mt20 '>When we tell our stories, we share our experiences and lessons, which can help others. In the workplace and the business world, stories put a face to our brands and build stronger connections. We are all made of stories, and sharing them builds a richer, more understanding world, bringing diverse people together and promoting growth.</div>
                                <div class='content-text mt50'><span>Extend your legacy and share a story.</span></br> Book a LuvMyStory™ session today.</div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 ">
                        <div class="container p10p n-steps ">
                            <div class="text-container" data-equalizer-watch>
                                <h2>5 Easy Steps</h2>
                                <div class='content-text mb50'>Step-by-step process for recording and sharing personal stories through LuvMyStory. Here's a breakdown of each step:</div>
                                    <div class='n-steps-container'>
                               
                                        <div class="steps-cell p10">
                                                <div class='n-steps-no step-bg-1 text-center '>
                                                    <div class='steps-no step-1'>1</div>
                                                </div>
                                                <div class='steps-info-container'>
                                                       <div class='title'>BOOK</div>
                                                        <div class='description'>Select and Book your LuvMyStory session through our online scheduling system with a Story Guide.</div>
                                                </div>
                                                <div class='clear-fix'></div>
                                        </div>
                                        <div class="steps-cell p10">
                                            <div class='n-steps-no step-bg-2 text-center '>
                                                <div class='steps-no step-2'>2</div>
                                            </div>
                                            <div class='steps-info-container'>
                                                <div class='title'>PLAN</div>
                                                <div class='description'>While you’re waiting for your appointment, write out some of your memories of the story you want to record.</div>
                                            </div>
                                            <div class='clear-fix'></div>
                                        </div>
                                        <div class="steps-cell p10">
                                            <div class='n-steps-no step-bg-3 text-center '>
                                                <div class='steps-no step-3'>3</div>
                                            </div>
                                            <div class='steps-info-container'>
                                                <div class='title'>TELL</div>
                                                <div class='description'>At the day and time of your scheduled session, take a deep breath, relax and tell your story in your words and voice.</div>
                                            </div>
                                            <div class='clear-fix'></div>
                                        </div>
                                        <div class="steps-cell p10">
                                            <div class='n-steps-no step-bg-4 text-center '>
                                                <div class='steps-no step-4'>4</div>
                                            </div>
                                            <div class='steps-info-container'>
                                               <div class='title'>LISTEN</div>
                                               <div class='description'>Your perfect story will be sound engineered to its highest quality. Now, sit back and listen.</div>
                                            </div>
                                            <div class='clear-fix'></div>
                                        </div>
                                        <div class="steps-cell p10">
                                            <div class='n-steps-no step-bg-5 text-center '>
                                                <div class='steps-no step-5'>5</div>
                                            </div>
                                            <div class='steps-info-container'>
                                               <div class='title'>SHARE</div>
                                                 <div class='description'>Now, share your story with family and friends. Ooh, you can even attach it to your online family tree!</div>
                                            </div>
                                            <div class='clear-fix'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="grid-x grid-main home-section-inspiration">
                    <div class="cell large-6 medium-12 small-12  text-center">
                        <img class="hide-for-large"src="assets/img/img_lms_my_inspiration.png">
                    </div>
                    <div class="cell large-6 medium-12 small-12 home-section-content">
                        <div class="home-section-text-container">
                            <h3>My inspiration for LuvMyStory<sup>TM</sup></h3>
                            <p>My mother Judith was an incredible woman. She lived an amazing life full of love, laughter, resisilience, and adventure. She was a wonderful storyteller and after she passed, I wished I had recorded just a few of her memories in her voice. I think about her often and miss her dearly.</p>
                            <p>LuvMyStory<sup>TM</sup> was inspired by her memory so that others can create precious episodes of their loved one's stories and memories in voices that are treasured and missed.</p>
                            <p>Give your family the gift of a recored story of yours or a family member. It will be treasured for years to come.</p>
                            <p><strong>Dean Odle,</strong> <br>Co-founder</p>
                        </div>
                    </div>
                </div>
                <div class="grid-x home-section-inspiration-list">
                    <div class="cell small-12">
                        <h3>Family Topics and Memories that make amazing LuvMyStory<sup>TM</sup> recordings</h3>
                    </div>
                    <div class="cell large-4 medium-6 small-12 inspiration-list">
                        <img src="assets/img/img-inspiration-1.png" />
                        <h4>Family Origin</h4>
                        <span>Where is your family from and how did they arrive at their current location?</span>
                    </div>
                    <div class="cell large-4 medium-6 small-12 inspiration-list">
                        <img src="assets/img/img-inspiration-2.png" />
                        <h4>Love Stories</h4>
                        <span>How you, your parents, or grandparents met and fell in love.</span>
                    </div>
                    <div class="cell large-4 medium-6 small-12 inspiration-list">
                        <img src="assets/img/img-inspiration-3.png" />
                        <h4>Immigration Story</h4>
                        <span>The history and reason for your families immigration.</span>
                    </div>
                    <div class="cell large-4 medium-6 small-12 inspiration-list">
                        <img src="assets/img/img-inspiration-4.png" />
                        <h4>Military Story</h4>
                        <span>A family member's experience in war or conflict.</span>
                    </div>
                    <div class="cell large-4 medium-6 small-12 inspiration-list">
                        <img src="assets/img/img-inspiration-5.png" />
                        <h4>Family Adventure Story</h4>
                        <span>Interesting family vacations or adventures.</span>
                    </div>
                    <div class="cell large-4 medium-6 small-12 inspiration-list">
                        <img src="assets/img/img-inspiration-6.png" />
                        <h4>Family Triumph Story</h4>
                        <span>A story of personal challenges and triumphs within the family.</span>
                    </div>
                    <div class="cell large-4 medium-6 small-12 inspiration-list">
                        <img src="assets/img/img-inspiration-7.png" />
                        <h4>Family Heirlooms Story</h4>
                        <span>Discuss the history and significance of a family treasure or photo.</span>
                    </div>
                    <div class="cell large-4 medium-6 small-12 inspiration-list">
                        <img src="assets/img/img-inspiration-8.png" />
                        <h4>Family Recipe Story</h4>
                        <span>The history and significane of a favorite family dish or food.</span>
                    </div>
                    <div class="cell large-4 medium-6 small-12 inspiration-list">
                        <img src="assets/img/img-inspiration-9.png" />
                        <h4>Life Lesson Story</h4>
                        <span>An important life lesson learned along the way.</span>
                    </div>
                    <div class="cell large-4 medium-6 small-12 hide-for-medium hide-for-small"></div>
                    <div class="cell large-4 medium-6 small-12 inspiration-list">
                        <img src="assets/img/img-inspiration-10.png" />
                        <h4>Famous Relative Story</h4>
                        <span>Family connections to notable or famous people and how they relate to your family's history.</span>
                    </div>
                    <div class="cell large-4 medium-6 small-12"></div>
                </div>
                <div class="grid-x home-section-personal-topics">
                    <div class="cell small-12">
                        <div class='mt10 text-center'>
                            <a href='{{path("dashboard_book_now")}}' class='text-white  button bg-skyblue rounded-medium p20'>Book Now </a>
                        </div>
                    </div>
                  
                    <div class="cell small-12">
                        <h3>Personal Topics and Memories that make amazing LuvMyStory<sup>TM</sup> recordings</h3>
                    </div>
                    <div class="cell large-6 medium-6 small-12">
                        <div class="grid-x pt-card-container">
                            <div class="cell medium-12 large-3">
                                <div class="pt-icon"><img src="assets/img/img-pt-childhood.svg"></div>
                            </div>
                            <div class="cell medium-12 large-9">
                                <div class="pt-content">
                                    <h6>Childhood Memories</h6>
                                    <p>Reflect on your earliest memories, including your family, home, and friends.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 medium-6 small-12">
                        <div class="grid-x pt-card-container">
                            <div class="cell medium-12 large-3">
                                <div class="pt-icon"><img src="assets/img/img-pt-educational.svg"></div>
                            </div>
                            <div class="cell medium-12 large-9">
                                <div class="pt-content">
                                    <h6>Educational Journey</h6>
                                    <p>Share your experiences in school. Discuss favorite subjects, teachers who made an impact, and any challenges you overcame.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 medium-6 small-12">
                        <div class="grid-x pt-card-container">
                            <div class="cell medium-12 large-3">
                                <div class="pt-icon"><img src="assets/img/img-pt-coming_age.svg"></div>
                            </div>
                            <div class="cell medium-12 large-9">
                                <div class="pt-content">
                                    <h6>Coming-of-Age Stories</h6>
                                    <p>Describe the transition from adolescence to adulthood. Share stories about your first job, driver's license, or experiences of independence.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 medium-6 small-12">
                        <div class="grid-x pt-card-container">
                            <div class="cell medium-12 large-3">
                                <div class="pt-icon"><img src="assets/img/img-pt-friendship_relationship.svg"></div>
                            </div>
                            <div class="cell medium-12 large-9">
                                <div class="pt-content">
                                    <h6>Friendships and Relationships</h6>
                                    <p>Share stories about your closest friends and the adventures you've had together. Discuss the significance of friendships in your life.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 medium-6 small-12">
                        <div class="grid-x pt-card-container">
                            <div class="cell medium-12 large-3">
                                <div class="pt-icon"><img src="assets/img/img-pt-travel-and-adventures.svg"></div>
                            </div>
                            <div class="cell medium-12 large-9">
                                <div class="pt-content">
                                    <h6>Travel and Adventures</h6>
                                    <p>Document memorable trips and adventures you've taken. Include travel mishaps, cultural experiences, and the people you met along the way.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 medium-6 small-12">
                        <div class="grid-x pt-card-container">
                            <div class="cell medium-12 large-3">
                                <div class="pt-icon"><img src="assets/img/img-pt-career-milesstone.svg"></div>
                            </div>
                            <div class="cell medium-12 large-9">
                                <div class="pt-content">
                                    <h6>Career Milestones</h6>
                                    <p>Reflect on your professional journey, from your first job to your current career. Discuss achievements, challenges, and how your career has evolved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 medium-6 small-12">
                        <div class="grid-x pt-card-container">
                            <div class="cell medium-12 large-3">
                                <div class="pt-icon"><img src="assets/img/img-pt-personal-achivements.svg"></div>
                            </div>
                            <div class="cell medium-12 large-9">
                                <div class="pt-content">
                                    <h6>Personal Achievements</h6>
                                    <p>Highlight significant accomplishments in your life, whether they are academic, athletic, artistic, or personal achievements like learning a new skill.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 medium-6 small-12">
                        <div class="grid-x pt-card-container">
                            <div class="cell medium-12 large-3">
                                <div class="pt-icon"><img src="assets/img/img-pt-challenges-and-resilience.svg"></div>
                            </div>
                            <div class="cell medium-12 large-9">
                                <div class="pt-content">
                                    <h6>Challenges and Resilience</h6>
                                    <p>Share stories of difficult times in your life and how you overcame them. Discuss the lessons you learned from facing adversity.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 medium-6 small-12">
                        <div class="grid-x pt-card-container">
                            <div class="cell medium-12 large-3">
                                <div class="pt-icon"><img src="assets/img/img-pt-family-and-relationship.svg"></div>
                            </div>
                            <div class="cell medium-12 large-9">
                                <div class="pt-content">
                                    <h6>Family and Relationships</h6>
                                    <p>Describe your relationships with family members, including your parents, siblings, and extended family. Share anecdotes about family gatherings and traditions.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 medium-6 small-12">
                        <div class="grid-x pt-card-container">
                            <div class="cell medium-12 large-3">
                                <div class="pt-icon"><img src="assets/img/img-pt-romantic-relationship.svg"></div>
                            </div>
                            <div class="cell medium-12 large-9">
                                <div class="pt-content">
                                    <h6>Romantic Relationships</h6>
                                    <p>Discuss your experiences with love and romance, including dating, relationships, and marriage. Share stories of how you met your partner and the journey of your relationship.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 medium-6 small-12">
                        <div class="grid-x pt-card-container">
                            <div class="cell medium-12 large-3">
                                <div class="pt-icon"><img src="assets/img/img-pt-parenthood.svg"></div>
                            </div>
                            <div class="cell medium-12 large-9">
                                <div class="pt-content">
                                    <h6>Parenthood and Family Building</h6>
                                    <p>If applicable, talk about the experience of becoming a parent, the joys and challenges of raising children, and the lessons you've learned along the way.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 medium-6 small-12">
                        <div class="grid-x pt-card-container">
                            <div class="cell medium-12 large-3">
                                <div class="pt-icon"><img src="assets/img/img-pt-personal-hobbies-and-interest.svg"></div>
                            </div>
                            <div class="cell medium-12 large-9">
                                <div class="pt-content">
                                    <h6>Personal Hobbies and Interests</h6>
                                    <p>Share stories related to your hobbies and interests, whether it's a passion for gardening, cooking, music, sports, or any other pursuit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 medium-6 small-12">
                        <div class="grid-x pt-card-container">
                            <div class="cell medium-12 large-3">
                                <div class="pt-icon"><img src="assets/img/img-pt-life-changing.svg"></div>
                            </div>
                            <div class="cell medium-12 large-9">
                                <div class="pt-content">
                                    <h6>Life-Changing Events</h6>
                                    <p>Document significant life events such as moving to a new city, starting a business, or making a major life decision. Explain the reasons behind these choices.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 medium-6 small-12">
                        <div class="grid-x pt-card-container">
                            <div class="cell medium-12 large-3">
                                <div class="pt-icon"><img src="assets/img/img-pt-cultural-spiritual.svg"></div>
                            </div>
                            <div class="cell medium-12 large-9">
                                <div class="pt-content">
                                    <h6>Cultural or Spiritual Journeys</h6>
                                    <p>Discuss any spiritual or cultural experiences that have had a profound impact on your life, such as religious conversions, pilgrimages, or cultural immersion.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 medium-6 small-12">
                        <div class="grid-x pt-card-container">
                            <div class="cell  medium-12 large-3">
                                <div class="pt-icon"><img src="assets/img/img-pt-personal-philosophy.svg"></div>
                            </div>
                            <div class="cell  medium-12 large-9">
                                <div class="pt-content">
                                    <h6>Personal Philosophy and Beliefs</h6>
                                    <p>Discuss any spiritual or cultural experiences that have had a profound impact on your life, such as religious conversions, pilgrimages, or cultural immersion.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
                <div class="grid-x grid-main bg-gray our-story-section" >
                    <div class="cell large-12 ">
                        <div class="container p10p " >
                            <div class="text-container text-white text-center ">
                                <a href='javascript:void(0);' class='btn title-btn' >ABOUT US</a>
                                <h2 class='mt30'>OUR STORY</h2> 
                                <p  class='mt50'>Three great friends, Dean, Michelle and Robert were chatting one evening, when it dawned on them how many stories they had and how much they enjoyed each other’s stories. They realized everyone has family, friends, careers, etc. and every aspect of our lives gives us stories to tell. The LuvMyStory founders want you to have the same gift of a well captured story and a way to share it with the people who matter.</p>
                            </div>
                        </div>
                    </div>
                </div>  

                <div class="grid-x grid-main our-team-section bg-white" >
                    <div class="cell large-6 ">
                        <div class="container" >
                            <div class="img-container text-white text-center ">
                                <img src="/assets/img/our-team-img.png"  class='container-img'/>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 ">
                        <div class="container p10p" >
                            <div class="text-container text-center large-text-left">
                                <h2>OUR TEAM</h2> 
                                <p  class='mt30'>We have assembled an amazing team of broadcasters, technologists, designers, and AV professionals who are passionate about the human journey and capturing it for you. Dozens of years of experience and true talent working for you.</p>
                                <a href="{{ path('dashboard_book_now')}}" class='button primary-button radius-rounded teal text-white mt50'>TELL MY STORY</a>
                            </div>
                        </div>
                    </div>
                </div> 
                 <div class="grid-x grid-main  bg-white" >
                    <div class="cell large-12 ">
                        <div class="container p10p bg-skyblue text-white text-center" >
                            <div class='testimony-container p10p'>
                                 <h2 class="mb50">TESTIMONIALS</h2>

                                  <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
                                    <div class="orbit-wrapper ">
                                        <ul class="orbit-container ">
                                            <li class="is-active orbit-slide ">
                                                <div class="grid-x grid-main " >
                                                    <div class='cell large-12'>
                                                        <div class='testimony p20'>
                                                            <div class='img-container'>
                                                                <img src="/assets/img/Jodie.png" />
                                                            </div>
                                                            <div class='text-container mt50'>
                                                                <p>
                                                                    "LuvMyStory turned my special memories into an amazing audio episode. I'll cherish them always. Truly wonderful work."
                                                                </p>
                                                            </div>
                                                                <div class='text-container mt50'>
                                                                <p class='name'>
                                                                    Jodie H.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="is-active orbit-slide ">
                                                <div class="grid-x grid-main " >
                                                    <div class='cell large-12'>
                                                        <div class='testimony p20'>
                                                            <div class='img-container'>
                                                                <img src="/assets/img/Maddie.png" />
                                                            </div>
                                                            <div class='text-container mt50'>
                                                                <p>
                                                                    "LuvMyStory helped turn my memories into a great story. Their team made every moment feel special and alive again. I truly cherish it."
                                                                </p>
                                                            </div>
                                                                <div class='text-container mt50'>
                                                                <p class='name'>
                                                                    Maddie S.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="is-active orbit-slide ">
                                                <div class="grid-x grid-main " >
                                                    <div class='cell large-12'>
                                                    
                                                            <div class='testimony p20'>
                                                                <div class='img-container'>
                                                                    <img src="/assets/img/Jack.png" />
                                                                </div>
                                                                <div class='text-container mt50'>
                                                                    <p>
                                                                        "Hearing my grandfather’s story about his childhood on the family farm in Oklahoma was priceless. Thank you for helping us preserve a piece of our family history."
                                                                    </p>
                                                                </div>
                                                                 <div class='text-container mt50'>
                                                                    <p class='name'>
                                                                        Jack R.
                                                                    </p>
                                                                </div>
                                                            </div>

                                                           
                                                    </div>

                                                </div>
                                            </li>
                                             <li class="is-active orbit-slide ">
                                                <div class="grid-x grid-main " >
                                                    <div class='cell large-12'>
                                                    
                                                            <div class='testimony p20'>
                                                                <div class='img-container'>
                                                                    <img src="/assets/img/Jen.png" />
                                                                </div>
                                                                <div class='text-container mt50'>
                                                                    <p>
                                                                        "I got so many compliments from customers about my business story. Plus, I really enjoyed the interview and recording process with Craig . Thank you."
                                                                    </p>
                                                                </div>
                                                                 <div class='text-container mt50'>
                                                                    <p class='name'>
                                                                       Jen P.
                                                                    </p>
                                                                </div>
                                                            </div>

                                                           
                                                    </div>

                                                </div>
                                            </li>
                                        </ul>

                                         <nav class="orbit-bullets">
                                            <button class="is-active" data-slide="0">
                                                <span class="show-for-sr">First slide details.</span>
                                                <span class="show-for-sr" data-slide-active-label>Current Slide</span>
                                            </button>
                                            
                                            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                                            <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                                            <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
                                        </nav> 
                                                               
                                    </div>
                          
                                 </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>


{% include 'js.html.twig' %}

<script>
    $(document).ready(function(){
        var currentPlaying = '';
        
        
        function playVideo(){
                
           $.each($('video'), function(){
                var _this = $(this);
                _this.on('pause' , function(e){
                    
                   $('.playpause').toggleClass('hide');
                });

           });

                       
            $('.playpause').unbind('click').bind('click',function(){

                var _this = $(this);
             
           
                var playBtn = _this.parent().find('.wrapper-video').find('video');
                var vid = playBtn[0];
                    if (vid.paused){
                    
                        vid.play();
                       _this.toggleClass('hide');
                        $.each($('audio'), function(){
                            
                            var a = $(this);
                            a[0].pause();
                            a.parent().find('a').html("<img src='/assets/img/play-btn-index.png' /> PLAY AUDIO");
                            
                        });

                    } else {
                        
                        
                        vid.pause();
                       _this.toggleClass('hide');
                    }
                });
        }

        function playAudio(){
           
           $.each($('.play-btn'),function(){

                var _this = $(this);
                var audio = _this.parent().find('audio')[0];
                

                if(typeof audio != 'undefined'){
                    _this.unbind('click').bind('click',function(){
                        currentPlaying = _this.data('audiodesc');

                        $.each($('audio'), function(){
                            
                            var a = $(this);
                            if(currentPlaying != a.prop('id')){
                                a[0].pause();
                                a.parent().find('a').html("<img src='/assets/img/play-btn-index.png' /> PLAY AUDIO");
                            }
                        });

                        var elemAudi = $('#' + currentPlaying)[0];

          
                        if(elemAudi.paused){
                            elemAudi.play();
                            $(this).html('PAUSED AUDIO');

                            $.each($('video'), function(){
                            
                                var a = $(this);
                                a[0].pause();

                                a.parent().find('.playpause')
                                
                            });

                        } else {

                            elemAudi.pause();
                            $(this).html("<img src='/assets/img/play-btn-index.png' /> PLAY AUDIO");
                            currentPlaying = '';
                        }
                    });
                
                }
            });
            
        }

     

        playAudio();
        playVideo();
    });
</script>
    
{% endblock %}