{% extends 'Home/main.html.twig' %}

{% block content %}
<div class='main-content'>
    <div class="grid-x form-grid">
         <div class="cell large-12 medium-12 small-12">
            <div id='main-banner'>
                <div class="grid-x grid-main ">
                    <div class="cell large-4 medium-12">
                        <div class="content-container ">
                            <div class="text-container section-1-1">
                                <div class="text-cage">
                                    <h3>You have a story to tell.</h3>
                                    <p> 
                                    Experience the magic of personal storytelling with LuvMyStory™. Our dedicated Story Guides expertly transform your cherished moments - be it a romantic encounter, a monumental wedding day, or a tale of resilience - into captivating narratives.
                                    </p>
                                </div>
                            </div>
                            <div class="text-container section-1-2">
                                 <div class="text-cage">
                                    <h3>My way home</h3>
                                </div>
                            {# <img src="/assets/img/homepage1_new.png"> #}
                            </div>
                        </div>
                    </div>
                    <div class="cell large-4 medium-12">
                        <div class="content-container ">
                            <div class="img-container ">
                                <div class="wrapper-video">

                                    <video width="100%"  height="100%" controls="false"  class="v1">
                                                        <source src="/assets/video/removeperiodandeditlogo.mp4" type="video/mp4"></video>
                                                        <div class="playpause"></div>
                                </div>
            
                            </div>
                            <div class="text-container section-2-2">
                                 <div class="text-cage">
                                    <h3>Travel Adventure</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-4 medium-12">
                        <div class="content-container ">
                            <div class="text-container section-3-1">
                                <div class="text-cage">
                                    <h3>Your story expertly shaped.</h3>
                                    <p> 
                                        Our team crafts each narrative with meticulous editing and superior sound engineering, giving life to your stories in a way you've never heard before. This is your chance to preserve personal history, to share a laugh, a lesson, or a legacy with generations to come.                                    </p>    
                                </div>
                            </div>
                            <div class="text-container section-3-2">
                                <div class="text-cage">
                                    <h3>Going back to the past</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-main bg-white" data-equalizer>
                    <div class="cell large-6 ">
                        <div class="container p10p " >
                            <div class="text-container text-white bg-skyblue p70" data-equalizer-watch>
                                <h2>Power of Shared Stories</h2>
                                <div class='content-text mt20'>Sharing stories about our lives, families, jobs, and businesses is important for many reasons. Our stories show who we are, what we value, and where we come from, helping us understand and connect with each other. They keep our heritage alive and create a sense of belonging. </div>
                                <div class='content-text mt20 '>When we tell our stories, we share our experiences and lessons, which can help others. In the workplace and the business world, stories put a face to our brands and build stronger connections. We are all made of stories, and sharing them builds a richer, more understanding world, bringing diverse people together and promoting growth.</div>
                                <div class='content-text mt50'><span>Extend your legacy and share a story.</span></br> Book a LuvMyStory™ session today.</div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 ">
                        <div class="container p10p n-steps ">
                            <div class="text-container" data-equalizer-watch>
                                <h2>5 Easy Steps</h2>
                                <div class='content-text mb50'>Step-by-step process for recording and sharing personal stories through LuvMyStory. Here's a breakdown of each step:</div>
                                    <div class='n-steps-container'>
                                    <div class="grid-x grid-main bg-white grid-margin-x mb30">
                                        <div class="cell large-2 steps-cell">
                                            <div class='n-steps-no step-bg-1 text-center '>
                                                <div class='steps-no step-1'>1</div>
                                            </div>
                                        </div>
                                        <div class="cell large-10 ">
                                            <div class='title'>BOOK</div>
                                            <div class='description'>Select and Book your LuvMyStory session through our online scheduling system with a Story Guide.</div>
                                        </div>
                                    </div>
                                    <div class="grid-x grid-main bg-white mb30">
                                        <div class="cell large-2 steps-cell">
                                            <div class='n-steps-no step-bg-2 text-center '>
                                                <div class='steps-no step-2'>2</div>
                                            </div>
                                        </div>
                                        <div class="cell large-10 ">
                                            <div class='title'>PLAN</div>
                                            <div class='description'>While you’re waiting for your appointment, write out some of your memories of the story you want to record.</div>
                                        </div>
                                    </div>
                                    <div class="grid-x grid-main bg-white mb30">
                                        <div class="cell large-2 steps-cell">
                                            <div class='n-steps-no step-bg-3 text-center '>
                                                <div class='steps-no step-3'>3</div>
                                            </div>
                                        </div>
                                        <div class="cell large-10 ">
                                            <div class='title'>TELL</div>
                                            <div class='description'>At the day and time of your scheduled session, take a deep breath, relax and tell your story in your words and voice.</div>
                                        </div>
                                    </div>
                                    <div class="grid-x grid-main bg-white mb30">
                                        <div class="cell large-2 steps-cell">
                                            <div class='n-steps-no step-bg-4 text-center '>
                                                <div class='steps-no step-4'>4</div>
                                            </div>
                                        </div>
                                        <div class="cell large-10 ">
                                            <div class='title'>LISTEN</div>
                                            <div class='description'>Your perfect story will be sound engineered to its highest quality. Now, sit back a listen.</div>
                                        </div>
                                    </div>
                                        <div class="grid-x grid-main bg-white mb30">
                                        <div class="cell large-2 steps-cell">
                                            <div class='n-steps-no step-bg-5 text-center '>
                                                <div class='steps-no step-5'>5</div>
                                            </div>
                                        </div>
                                        <div class="cell large-10 ">
                                            <div class='title'>SHARE</div>
                                            <div class='description'>Now, share your story with family and friends. Ooh, you can even attach it to your online family tree!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-main bg-gray our-story-section" >
                    <div class="cell large-12 ">
                        <div class="container p10p " >
                            <div class="text-container text-white text-center ">
                                <a href='javascript:void(0);' class='btn title-btn' >ABOUT US</a>
                                <h2 class='mt30'>OUR STORY</h2> 
                                <p  class='mt50'>Three great friends, Dean, Michelle and Robert were chatting one evening, when it dawned on them how many stories they had and how much they enjoyed each other’s stories. They realized everyone has family, friends, careers, etc. and every aspect of our lives gives us stories to tell. The LuvMyStory founders want you to have the same gift of a well captured story and a way to share it with the people who matter.</p>
                            </div>
                        </div>
                    </div>
                </div>  

                <div class="grid-x grid-main our-team-section bg-white" >
                    <div class="cell large-6 ">
                        <div class="container" >
                            <div class="img-container text-white text-center ">
                                <img src="/assets/img/our-team-img.png"  class='container-img'/>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-6 ">
                        <div class="container p10p" >
                            <div class="text-container ">
                                <h2>OUR TEAM</h2> 
                                <p  class='mt30'>We have assembled an amazing team broadcasters, technologist, designers, and AV professionals who are passionate about the human journey and capturing it for you. Dozens of years of experience and true talent working for you.</p>
                                <a href="{{ path('dashboard_book_now')}}" class='button primary-button radius-rounded teal text-white mt50'>TELL MY STORY</a>
                            </div>
                        </div>
                    </div>
                </div> 
                 <div class="grid-x grid-main  bg-white" >
                    <div class="cell large-12 ">
                        <div class="container p10p bg-skyblue text-white text-center" >
                            <div class='testimony-container p10p'>
                                                        <h2 class="mb50">TESTIMONIALS</h2>

                                  <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
                                    <div class="orbit-wrapper ">
                                        <ul class="orbit-container ">
                                            <li class="is-active orbit-slide ">
                                                <div class="grid-x grid-main " >
                                                    <div class='cell large-12'>
                                                    
                                                            <div class='testimony p20'>
                                                                <div class='img-container'>
                                                                    <img src="/assets/img/default-profile-pic.jpg" />
                                                                </div>
                                                                <div class='text-container mt50'>
                                                                    <p>
                                                                        "LuvMyStory turned my special memories into an amazing audio episode. I'll cherish them always. Truly wonderful work."
                                                                    </p>
                                                                </div>
                                                                 <div class='text-container mt50'>
                                                                    <p class='name'>
                                                                        Jodie H.
                                                                    </p>
                                                                </div>
                                                            </div>

                                                           
                                                    </div>

                                                </div>
                                            </li>
                                            <li class="is-active orbit-slide ">
                                                <div class="grid-x grid-main " >
                                                    <div class='cell large-12'>
                                                    
                                                            <div class='testimony p20'>
                                                                <div class='img-container'>
                                                                    <img src="/assets/img/default-profile-pic.jpg" />
                                                                </div>
                                                                <div class='text-container mt50'>
                                                                    <p>
                                                                        "LuvMyStory helped turn my memories into a great story. Their team made every moment feel special and alive again. I truly cherish it."
                                                                    </p>
                                                                </div>
                                                                 <div class='text-container mt50'>
                                                                    <p class='name'>
                                                                        Maddie S.
                                                                    </p>
                                                                </div>
                                                            </div>

                                                           
                                                    </div>

                                                </div>
                                            </li>
                                            <li class="is-active orbit-slide ">
                                                <div class="grid-x grid-main " >
                                                    <div class='cell large-12'>
                                                    
                                                            <div class='testimony p20'>
                                                                <div class='img-container'>
                                                                    <img src="/assets/img/default-profile-pic.jpg" />
                                                                </div>
                                                                <div class='text-container mt50'>
                                                                    <p>
                                                                        "Hearing my grandfather’s story about his childhood on the family farm in Oklahoma was priceless. Thank you for helping us preserve a piece of our family history."
                                                                    </p>
                                                                </div>
                                                                 <div class='text-container mt50'>
                                                                    <p class='name'>
                                                                        Jack R.
                                                                    </p>
                                                                </div>
                                                            </div>

                                                           
                                                    </div>

                                                </div>
                                            </li>
                                             <li class="is-active orbit-slide ">
                                                <div class="grid-x grid-main " >
                                                    <div class='cell large-12'>
                                                    
                                                            <div class='testimony p20'>
                                                                <div class='img-container'>
                                                                    <img src="/assets/img/default-profile-pic.jpg" />
                                                                </div>
                                                                <div class='text-container mt50'>
                                                                    <p>
                                                                        "got so many compliments from customers about my business story. Plus, I really enjoyed the interview and recording process with Craig . Thank you."
                                                                    </p>
                                                                </div>
                                                                 <div class='text-container mt50'>
                                                                    <p class='name'>
                                                                       Jen P.
                                                                    </p>
                                                                </div>
                                                            </div>

                                                           
                                                    </div>

                                                </div>
                                            </li>
                                        </ul>

                                         <nav class="orbit-bullets">
                                            <button class="is-active" data-slide="0">
                                                <span class="show-for-sr">First slide details.</span>
                                                <span class="show-for-sr" data-slide-active-label>Current Slide</span>
                                            </button>
                                            
                                            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                                            <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                                            <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
                                        </nav> 
                                                               
                                    </div>
                          
                                 </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>


{% include 'js.html.twig' %}

<script>
    $(document).ready(function(){
        
        $.each($('.wrapper-video'),function(){
            var _this = $(this);
            _this.unbind('click').bind('click',function(){
                var vid = _this.find('video');
                var playBtn = _this.find('.playpause');
                if (vid[0].paused){
                
                    vid[0].play();
                    playBtn.toggleClass('hide');
                } else {
                    
                    setTimeout(() => {
                    
                    vid[0].pause();
                    playBtn.toggleClass('hide');
                    }, 1000);
                }
            });
        });
    });
</script>
    
{% endblock %}