{% extends 'Home/main.html.twig' %}

{% block content %}
    <div class="grid-x">
      <div class="cell large-3 medium-12 small-12">
        <div class="about-us-content-container purple">
          <div class="about-us-content">
            <h3>ALICE</h3>
            <p>
                interviewer short bio goes here,
                first name, qualifications, etc.  
            </p>
          </div>
        </div>
      </div>
      <div class="cell large-3 medium-12 small-12 ">
        <div class="about-us-content-container about-us-content-container-device purple">
          <img src="/assets/img/alice.png">
        </div>
      </div>
      
      <div class="cell large-3 medium-12 small-12">
        <div class="about-us-content-container blue ">
          <div class="about-us-content">
            <h3>GORDON</h3>
            <p>
                interviewer short bio goes here,
                first name, qualifications, etc.
            </p>
          </div>
        </div>
      </div>
      <div class="cell large-3 medium-12 small-12">
        <div class="about-us-content-container about-us-content-container-device blue">
          <img src="/assets/img/gordon.png">
        </div>
      </div>
      <div class="cell large-3 medium-12 small-12">
        <div class="about-us-content-container teal ">
          <div class="about-us-content">
            <h3>Helena</h3>
            <p>
                interviewer short bio goes here,
                first name, qualifications, etc.
            </p>
          </div>
        </div>
      </div>
      <div class="cell large-3 medium-12 small-12">
        <div class="about-us-content-container about-us-content-container-device teal">
          <img src="/assets/img/helena.png">
        </div>
      </div>
      <div class="cell large-3 medium-12 small-12">
        <div class="about-us-content-container pink ">
          <div class="about-us-content">
            <h3>HAMED</h3>
            <p>
                interviewer short bio goes here,
                first name, qualifications, etc.
            </p>
          </div>
        </div>
      </div>
      <div class="cell large-3 medium-12 small-12">
        <div class="about-us-content-container about-us-content-container-device pink">
          <img src="/assets/img/hamed.png">
        </div>
      </div>
       <div class="cell large-3 medium-12 small-12">
        <div class="about-us-content-container yellow ">
          <div class="about-us-content">
            <h3>NICK</h3>
            <p>
                interviewer short bio goes here,
                first name, qualifications, etc.
            </p>
          </div>
        </div>
      </div>
      <div class="cell large-3 medium-12 small-12">
        <div class="about-us-content-container about-us-content-container-device yellow">
          <img src="/assets/img/nick.png">
        </div>
      </div>
       <div class="cell large-3 medium-12 small-12">
        <div class="about-us-content-container mint-yellow ">
          <div class="about-us-content">
            <h3>BETHANY</h3>
            <p>
                interviewer short bio goes here,
                first name, qualifications, etc.
            </p>
          </div>
        </div>
      </div>
      <div class="cell large-3 medium-12 small-12">
        <div class="about-us-content-container about-us-content-container-device mint-yellow">
          <img src="/assets/img/bethany.png">
        </div>
      </div>
        <div class="cell large-3 medium-12 small-12">
        <div class="about-us-content-container purple ">
          <div class="about-us-content">
            <h3>SAM</h3>
            <p>
                interviewer short bio goes here,
                first name, qualifications, etc.
            </p>
          </div>
        </div>
      </div>
      <div class="cell large-3 medium-12 small-12">
        <div class="about-us-content-container about-us-content-container-device purple">
          <img src="/assets/img/sam.png">
        </div>
      </div>
         <div class="cell large-3 medium-12 small-12">
        <div class="about-us-content-container blue ">
          <div class="about-us-content">
            <h3>MEENA</h3>
            <p>
                interviewer short bio goes here,
                first name, qualifications, etc.
            </p>
          </div>
        </div>
      </div>
      <div class="cell large-3 medium-12 small-12">
        <div class="about-us-content-container about-us-content-container-device blue">
          <img src="/assets/img/meena.png">
        </div>
      </div>
    </div>

{% include 'js.html.twig' %}

{% endblock %}