{% extends 'Home/main.html.twig' %}

{% block content %}
<div class='main-content '>
    <div class="grid-x p20">
      <div class="cell large-8 centered-cell ">
            <div class="grid-container">
                <div class="grid-x">
                    <div class="cell large-12 text-center">
                        <h2 class='text-gray mt50'>Pricing</h2>
                    </div>
                    <div class="cell large-12 text-center mt10">
                        <p>Gift Your Story to Yourself or Loved Ones, </br>Gift Your Loved Ones an Opportunity to Immortalize Their Story, </br>Gift Your Family Preserved History and Timeless Legacy.</p>    
                    </div>
                </div>
            </div>
      </div>
      <div class="cell large-12 centered-cell ">
            <div class="grid-container fluid full" data-equalizer='container' >
                <div class="grid-x grid-margin-x" data-equalizer='details' >
                    <div class="cell large-3 ">
                        <div class="card price-card card-price-1">
                            <div class="card-section card-header">
                                <img src='/assets/img/card-price-4.png' />
                                <div class='price-header p20'>
                                    <div class='price-desc'>LuvMyStory™ Personal Session</div>
                                    <div class='price'>$139</div>
                                </div>
                                <div class='overlay'></div>
                            </div>
                            <div class="card-section p20 price-details "  data-equalizer-watch='container'>
                                <div class='list-container ' data-equalizer-watch='details'>
                                     <h4>Tell your story, in your voice with ease and enjoyment!</h4>

                                    <ul>
                                        <li>
                                            <span>Professional virtual recording studio</span> to conveniently produce the best sound recording possible.
                                        </li>
                                         <li>
                                            <span>10-20 minutes of guided sound check and story planning</span> with an experienced audio producer.
                                        </li>
                                        <li>
                                            <span>20-30 minutes of storytelling assisted and guided by a professional broadcaster</span>, so you tell the best version of your story or memory.
                                        </li>
                                         <li>
                                            <span>Professionally edited and sound engineered audio recording in your voice.</span>
                                        </li>
                                         <li>
                                            <span>20+ minute episode of your precious memory or family history</span> to cherish, share with others, or attach to your family tree.
                                        </li>
                                        <li>
                                           <span> Personal LuvMyStory profile page</span> where you can listen, share, and download your finished episode.
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>

                             <div class="card-section  card-button pt30">
                                <a href='{{ path("dashboard_book_now")}}' class='button'>BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-3 ">
                        <div class="card price-card card-price-2">
                            <div class="card-section card-header">
                                <img src='/assets/img/card-price-3.png' />

                                <div class='price-header p20'>
                                    <div class='price-desc'>Luv1 Conversation™ Session</div>
                                    <div class='price'>$139</div>
                                </div>
                                <div class='overlay'></div>
                            </div>
                            <div class="card-section p20 price-details"  data-equalizer-watch='container'>
                                <div class='list-container' data-equalizer-watch='details'>
                                    <h4>A hosted conversation between you and your loved one!</h4>
                                    <ul>
                                        <li>
                                        
                                           <span>Professional virtual recording studio</span> to conveniently produce the best sound recording possible.
                                        </li>
                                         <li>
                                            <span>10-20 minutes of guided sound check and story planning</span> with an experienced audio producer.
                                        </li>
                                        <li>
                                            <span>20-30 minutes of storytelling assisted and guided by a professional broadcaster</span>, so you tell the best version of your story or memory.
                                            
                                        </li>
                                         <li>
                                            <span>Professionally edited and sound engineered audio recording in your voice.</span> of your conversation.
                                        </li>
                                         <li>
                                            <span>20+ minute episode of your precious memory or family history</span> to cherish, share with others, or attach to your family tree.
                                        </li>
                                        <li>
                                           <span> Personal LuvMyStory profile page</span> where you can listen, share, and download your finished episode.
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>

                             <div class="card-section  card-button pt30">
                                <a href='{{ path("dashboard_book_now")}}' class='button'>BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                     <div class="cell large-3 ">
                        <div class="card price-card card-price-3">
                            <div class="card-section card-header">
                                <img src='/assets/img/card-price-2.png' />

                                <div class='price-header p20'>
                                    <div class='price-desc'>LuvMyFamily™ Session</div>
                                    <div class='price'>$139</div>
                                </div>
                                <div class='overlay'></div>
                            </div>
                            <div class="card-section p20 price-details" data-equalizer-watch='container'>
                                <div class='list-container' data-equalizer-watch='details'>
                                    <h4>Capture your family history and immortalize your legacy!</h4>

                                    <ul>
                                        <li>
                                            <span>Professional virtual recording studio</span> to conveniently produce the best sound recording possible.
                                        </li>
                                         <li>
                                            <span>10-20 minutes of guided sound check and story planning</span> with an experienced audio producer.
                                        </li>
                                        <li>
                                            <span>20-30 minutes of storytelling assisted and guided by a professional broadcaster</span>, so you tell the best version of your story or memory.
                                        </li>
                                         <li>
                                            <span>Professionally edited and sound engineered audio recording of your family history in your voice.</span>
                                        </li>
                                         <li>
                                            <span>20+ minute episode of your precious memory or family history</span> to cherish, share with others, or attach to your family tree.
                                        </li>
                                        <li>
                                           <span> Personal LuvMyStory profile page</span> where you can listen, share, and download your finished episode.
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>

                             <div class="card-section  card-button pt30">
                                <a href='{{ path("dashboard_book_now")}}' class='button'>BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="cell large-3 ">
                        <div class="card price-card card-price-4">
                            <div class="card-section card-header">
                                <img src='/assets/img/card-price-1.png' />

                                <div class='price-header p20'>
                                    <div class='price-desc'>LuvMyBusiness™ Session</div>
                                    <div class='price'>$289</div>
                                </div>
                                <div class='overlay'></div>
                            </div>
                            <div class="card-section p20 price-details" data-equalizer-watch='container'>
            
                                <div class='list-container' data-equalizer-watch='details'>
                                    <h4>A professionally recorded and edited podcast-style interview of you and your business!</h4>
                                    <ul>
                                        <li>
                                            <span>Professional virtual recording studio</span> to conveniently produce the best sound recording possible.
                                        </li>
                                         <li>
                                            <span>10-20 minutes of guided sound check and story planning</span> with an experienced audio producer.
                                        </li>
                                        <li>
                                            <span>20-30 minutes of storytelling assisted and guided by a professional broadcaster</span>, so you tell the best version of your story or memory.
                                        </li>
                                         <li>
                                            <span>Professionally edited and sound engineered audio recording of your business story in your voice enhancing your brand and entrepreneurial legacy.</span>
                                        </li>
                                         <li>
                                            <span>20+ minute episode of your business story</span> to cherish, share with customers, or attach to your company website.
                                        </li>
                                        <li>
                                           <span> Personal LuvMyStory profile page</span> where you can listen, share, and download your finished episode.
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>

                             <div class="card-section  card-button pt30">
                                <a href='{{ path("dashboard_book_now")}}' class='button'>BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
</div>


{% include 'js.html.twig' %}

<script type='text/javascript'>


</script>    
    
{% endblock %}