{% extends 'Home/main.html.twig' %}

{% block content %}
    
  <div class="grid-x">
    <div class="cell large-6 medium-12 small-12 small-order-2 large-order-1">
    <div class="content-container page-content-cage yellow">
        <div class="grid-x">
            {# <div class="cell large-5 medium-12 small-12 small-order-2 large-order-1">
                <div class="button-container">
                    <a class="button text-yellow">LEARN MORE</a>
                </div>
            </div> #}

                 

            
            <div class="cell large-12 medium-12 small-12 small-order-1 large-order-2">

             
                <div class="page-text-container story-page">

                    <h3>Everyone has a story to tell. We help you tell yours.</h3>
                    <p>  Discover the joy of narrating your personal stories with LuvMyStory™, where we bring your cherished memories to life in the most enchanting way possible. Our skilled Story Guides, professional broadcasters with a knack for uncovering the heart of every tale,
 assist you in weaving your narrative seamlessly. Whether it's a heartwarming personal journey, an exciting travel adventure, or a triumphant career milestone, we craft each episode with the finesse it deserves.

</p>  

                    <p>Embrace a rich, auditory experience where every emotion is captured and magnified through expert sound engineering. Select from a range of storytelling sessions, including Personal, Family, Friends, Travel, Career, or Business, designed to resonate deeply with
 both the teller and the listeners. Opt for a heartfelt individual session or bond over a group session with up to 3 people.your narrative seamlessly. Whether it's a heartwarming personal journey, an exciting travel adventure, or a triumphant career milestone, we craft each episode with the finesse it deserves.

</p>  

                   <p>Don't just tell a story, immerse your loved ones in a keepsake episode, a timeless treasure that reverberates with love, passion, and life's unforgettable moments. 


</p>  
                    
 
                    <p class="">Book now, and entrust your tale to LuvMyStory™, where every story is narrated with love, preserved with care, and celebrated for generations.

</p>   
                </div>
                
            </div>
        </div>
    </div>
    </div>
    <div class="cell large-6 medium-12 small-12 right-content small-order-1 large-order-2">
    {# <img class="img-logo" src="/assets/img/lovemystory_story.svg" > #}
    <div class="content-container page-content-container page-content-cage">
        <div class="img-container yellow"><img src="/assets/img/stories_new.png"></div>
    </div>
    </div>
</div>
 {# <div class="grid-x grid-main ">
    <div class="cell large-12">
        <div class="container">
            <div class="text-container p30">
                <div class='header-text text-yellow'>LuvMyStory Luvs Your Story.</div>
                <div class='content-text mt5'>
                     The beauty of living in this world is that each of us is a collection of experiences. Recollections of some of these experiences can leave us awestruck, others can be downright scary. But when we give a first-hand account of our story that illustrates aspects like emotions and sensations, we connect with ourselves and transport our listeners, family and friends into another world – OUR world.
                     LuvMyStory is a collective of storytelling experts. We help you share your story in one of a few ways…
                    </div>
                <div class='content-text text-yellow mt20 content-text-label'>Personal Services</div>
                <div class='content-text '>
                    Recorded interviews of individuals, family members, and friends – or “Luv1s” . All interviews are professionally recorded and edited into Audio Portraits™ or Memoir Podcasts.
                </div>
                <div class='content-text text-yellow mt10 content-text-label'>Professional and Career Services</div>
                <div class='content-text'>
                    Ideal for job interviews or vocational podcasts.
                </div>
                <div class='content-text text-yellow mt10 content-text-label'>Small Business Service</div>
                <div class='content-text'>
                    LuvMyStory creates business podcast episodes for businessowners who lack the time or expertise to create their own promotional content.
                </div>

                <div class='content-text text-black mt10 content-text-label'>Interview recording sessions can be ordered and booked through our website. You can then choose to receive a private link that only you and those you share it with can access, or you can make your story public for the rest of the world to see.</div>

                <div class="mt30 text-center">
                     <a class="btn-a yellow text-white" href="{{path('home_book_now')}}">TELL MY STORY</a>
                </div>
            </div>
        </div>
    </div>
</div>   #}

{% include 'js.html.twig' %}

{% endblock %}