{% extends 'Home/main.html.twig' %}

{% block content %}
<div class='main-content'>
    <div class="grid-x form-grid">
      <div class="cell large-6 medium-12 small-12 yellow">
        <div class='page-title-container'>
          <div class="page-text-container travel_content">
                <h4>Everyone has a story to tell. We help you tell yours.</h4>
                <p> 
                     Discover the joy of narrating your personal stories with LuvMyStory™, where we bring your cherished memories to life in the most enchanting way possible. Our skilled Story Guides, professional broadcasters with a knack for uncovering the heart of every tale,
                    assist you in weaving your narrative seamlessly. Whether it's a heartwarming personal journey, an exciting travel adventure, or a triumphant career milestone, we craft each episode with the finesse it deserves.
                </p>  
                <p>Embrace a rich, auditory experience where every emotion is captured and magnified through expert sound engineering. Select from a range of storytelling sessions, including Personal, Family, Friends, Travel, Career, or Business, designed to resonate deeply with
                    both the teller and the listeners. Opt for a heartfelt individual session or bond over a group session with up to 3 people.your narrative seamlessly. Whether it's a heartwarming personal journey, an exciting travel adventure, or a triumphant career milestone, we craft each episode with the finesse it deserves.
                </p>  
                <p>
                    Don't just tell a story, immerse your loved ones in a keepsake episode, a timeless treasure that reverberates with love, passion, and life's unforgettable moments. 
                </p>  
                <p class="">
                    Book now, and entrust your tale to LuvMyStory™, where every story is narrated with love, preserved with care, and celebrated for generations.
                </p>   
            <div class="mt30 p40 text-sm-center b-container">
              <a class="btn-a text-white primary-button  font-sm-13" href="/book_bow">Book Now</a>
            </div>
        </div>
     
        </div>
      </div>
      <div class="cell large-6 medium-12 small-12   ">
        <div class='page-title-container'>
           <img src="/assets/img/stories_new.png">
        </div>
       </div>
    </div>

  </div>
{% include 'js.html.twig' %}

<script type='text/javascript'>


</script>    
    
{% endblock %}