{% extends 'Home/main.html.twig' %}

{% block content %}
<div class="grid-x">
       
        <div class="cell large-12">
          <!--Question 1-->
          <div class="grid-x faq-content-container">
            <div class="cell">
              <div class="grid-container">
                <div class="grid-x">
                  <div class="cell large-12 ">
                        <h1 class='text-gray mt50 mb50'>LUV1 ONLINE TERMS OF USE</h1>
                  </div>

                  <div class="cell large-12 text-gray  mb20">
                     Last revised [DATE]
                  </div>

                  <div class="cell large-12 text-gray  mb30">
                         These terms and conditions of use (“Terms of Use”) govern your use of our online interfaces and properties (e.g., websites and
                         mobile applications) owned and controlled by LUV1 Media, LLC (“Luv1”, “we, “us, or “our” ), including the <a class='text-pink bolder'>LuvMyStory.com</a> and
                         <a class='text-pink bolder'> Luv1Media.com</a> websites (collectively, the “Site”). Your compliance with these Terms of Use is a condition to your use of the Site
                  </div>

                  <div class="cell large-12 text-gray  mb30">
                         By accessing, browsing, and/or using the Site, you acknowledge that you have read and agree to be bound by these Terms of
                         Use. If you do not agree to be bound by the Terms of Use, do not use or access the Site. Please also consult our Privacy Policy for
                         a description of our privacy practices and policies
                  </div>
                  <div class="cell large-12 text-gray  mb30">
                         If you access or use the Site or register an account on behalf of a company, principal, or other entity, you represent that you have
                        authority to bind such entity and its affiliates to this agreement and that it is fully binding on them. in such case, the term “you,”
                        as used in this agreement, will refer to such entity and its affiliates. If you do not have authority, you may not access or use the
                        Site or create an account.

                  </div>
                   <div class="cell large-12 text-gray  mb30">
                        Be advised that these Terms of Use contains disclaimer of warranties, indemnification, and limitations of liability that may be applicable to you.
                  </div>
                   <div class="cell large-12 text-gray  mb30">
                         Binding Arbitration. These Terms of Use contain provisions that govern how all disputes between you and Luv1. Unless you optout you will only be permitted to pursue claims against Luv1 via binding arbitration. accordingly, you agree to give up your right
                         to go to court (including in a class action proceeding) to assert or defend your rights under these terms of use (except for
                         matters that may be taken to small claims court). Your rights will be determined by a neutral arbitrator and not a judge or jury
                         and your claims cannot be brought as a class action. Please review the section below entitled dispute resolution; arbitration
                         agreement for the details regarding your agreement to arbitrate any disputes with Luv1.
                  </div>
                  <div class="cell large-12">
                
                    <ul class="accordion term_of_service" data-accordion data-allow-all-closed="true">
                        <li class="accordion-item mb20" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Intellectual Property</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb10'>
                                    <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div>
                                    <div class='content-description text-gray'>
                                        Subject to the terms and conditions of these Terms of Use, you are hereby granted a non-exclusive, nontransferable, non-sublicensable, and revocable license to access and use the Site solely for your own internal
                                        use. Luv1 reserves all rights not expressly granted herein in the Site. Except as expressly set forth herein, no
                                        rights or licenses are granted to you under these Terms of Service, whether by implication, estoppel or
                                        otherwise.
                                    </div>
                                </div>
                                <div class='content-card mb20'>
                                    <div class='content-title mb20 mt10 bolder text-gray'>Proprietary Rights</div>
                                    <div class='content-description text-gray'>
                                        All pages within this Site and any material made available for download are the property of Luv1, or its licensors
                                        or suppliers, as applicable. The Site is protected by United States and international copyright and trademark
                                        laws and you acknowledge that these rights are valid and enforceable. The contents of the Site, including
                                        without limitation the files, documents, text, photographs, images, audio, and video, and any materials
                                        accessed through or made available for use or download through this Site (“Content”) may only be used for
                                        purposes authorized by these Terms of Use or otherwise approved in writing by Luv1. Your use of the Site for
                                        any other reasons is strictly prohibited. You may not frame or utilize framing techniques to enclose, or deep
                                        linking to, any name, trademarks, service marks, logo, Content or other proprietary information (including
                                        images, text, page layout, or form) of Luv1 without our express written consent. You acknowledge that you do
                                        not acquire any ownership rights by using the Site. The trademarks, trade names, service marks, brands, logos,
                                        and trade dress displayed on the Site (collectively, the “Luv1 Trademarks”) are the registered and unregistered
                                        intellectual and proprietary property of Luv1 and/or others. Nothing contained in these Terms of Use or on the
                                        Site should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any Luv1
                                        Trademark(s) without the express written permission of Luv1 or the third-party owner of any such Luv1
                                        Trademark.

                                    </div>
                                </div>
                                <div class='content-card mb20'>
                                    <div class='content-title mb20 mt10 bolder text-gray'>User Content</div>
                                    <div class='content-description text-gray'>
                                        You are solely responsible for all information, data, materials, and content you provide to Luv1 (collectively, the
                                        User Content”) that you submit, post, or display on or via the Site. You represent and warrant that: (i) you own
                                        the User Content or otherwise have the right to grant the rights and licenses set forth in these Terms of Use; (ii)
                                        the use of your User Content does not and will not violate, misappropriate or infringe on the rights of any third
                                        party, including privacy rights, publicity rights, copyrights, trademark and/or other intellectual property rights;
                                        (iii) the User Content does and will comply with applicable law, and the User Content is accurate, complete,
                                        and truthful.. You acknowledge and agree that your relationship with Luv1 is not a confidential, fiduciary, or
                                        other type of special relationship, and that your decision to submit any User Content does not place Luv1 in a
                                        position that is any different from the position held by members of the general public, including with regard to
                                        your User Content.


                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Site Access and Accounts</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                      We reserve the right to decline to provide access to the Site to any person, or restrict access to any portion of the Site, for any or no reason. By accessing or using the Site, you represent and warrant that you have the full right, power, and authority to enter into and perform these Terms of Use without the consent or approval of any third party. 
                                    </div>
                                </div>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Proprietary Rights</div> #}
                                    <div class='content-description text-gray'>
                                       Access to certain portions of the Site may be limited and require that you register with us and create an account to access such portions of the Site (“Protected Areas”).   You agree to access Protected Areas using only your account information. You agree to protect the confidentiality of your account (including user ID and password) as well as any other access information, and not to share or disclose your account information to any third party. You agree that you are fully responsible for all activity occurring under your account. You must immediately notify Luv1 of any breach or suspected breach of security or unauthorized use of your account.  Your access to the Site and/or your account may be revoked by Luv1 at any time with or without cause. Luv1 will not be liable for any losses caused by any unauthorized use of your account. 

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Restrictions on the Use of the Site</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                        You may not access or use the Site for any purpose other than that for which we make the Site available. The Site may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us.
                                        As a user of the Site, you agree not to:
                                    </div>
                                </div>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Proprietary Rights</div> #}
                                    <div class='content-description text-gray'>
                                        <ul>
                                            <li> Use the Site in a manner inconsistent with any applicable laws or regulations;</li>
                                            <li> Disparage, tarnish, or otherwise harm, in our opinion, us and/or the Site;</li>
                                            <li> Except as may be the result of standard search engine or internet browser usage, use, launch, develop, or distribute any automated system, including without limitation, any spider, robot, cheat utility, scraper, or offline reader that accesses the Site, or using or launching any unauthorized script or other software;</li>
                                            <li> Engage in unauthorized framing of or linking to the Site;</li>
                                            <li> Make improper use of our support services or submit false reports;</li>
                                            <li> Interfere with, disrupt, or create an undue burden on the Site or the networks or services connected to the Site;</li>
                                            <li> Use any information obtained from the Site in order to harass, abuse, or harm another person;</li>
                                            <li> Use the Site as part of any effort to compete with us or otherwise use the Site and/or the Content for any revenue-generating endeavor or commercial enterprise;</li>
                                            <li> Decipher, decompile, disassemble, or reverse engineer any of the software comprising or in any way making up a part of the Site;</li>
                                            <li> Attempt to bypass any measures of the Site designed to prevent or restrict access to the Site, or any portion of the Site;</li>
                                            <li> Harass, annoy, intimidate, or threaten any of our employees or agents engaged in providing any portion of the Site to you;</li>
                                            <li> Delete the copyright or other proprietary rights notice from any Content;</li>
                                            <li> Systematically retrieve data or other content from the Site to create or compile, directly or indirectly, a collection, compilation, database, or directory without written permission from us;</li>
                                            <li> Make any unauthorized use of the Site, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email, or creating user accounts by automated means or under false pretenses;</li>
                                            <li> Use a buying agent or purchasing agent to make purchases on the Site;</li>
                                            <li> Trick, defraud, or mislead us and other users, especially in any attempt to learn sensitive account information such as user passwords;</li>
                                            <li> Circumvent, disable, or otherwise interfere with security-related features of the Site, including features that prevent or restrict the use or copying of any Content or enforce limitations on the use of the Site and/or the Content contained therein;</li>
                                            <li> Attempt to impersonate another user or person or use the username of another user;</li>
                                            <li> Sell or otherwise transfer your profile;</li>
                                            <li> Copy or adapt the Site’s software, including but not limited to Flash, PHP, HTML, JavaScript, or other code;</li>
                                            <li> Upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses, or other material, including excessive use of capital letters and spamming (continuous posting of repetitive text), that interferes with any party’s uninterrupted use and enjoyment of the Site or modifies, impairs, disrupts, alters, or interferes with the use, features, functions, operation, or maintenance of the Site;</li>
                                            <li> Upload or transmit (or attempt to upload or to transmit) any material that acts as a passive or active information collection or transmission mechanism, including without limitation, clear graphics interchange formats (“gifs”), 1×1 pixels, web bugs, cookies, or other similar devices (sometimes referred to as “spyware” or “passive collection mechanisms” or “pcms”);</li>
                                            <li> To engage in any other conduct that restricts or inhibits anyone’s use or enjoyment of the Site, or which, as determined by us, may harm us or customers of the Site, or expose them to liability.</li>
                                          
                                        </ul>
                                    </div>
                                </div>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                        Violations of these restrictions may result in civil or criminal liability. Luv1 will investigate occurrences that may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Accuracy and Integrity of Information</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                        Although Luv1 attempts to ensure the integrity and accurateness of the Site, it makes no representations, warranties or guarantees whatsoever as to the correctness or accuracy of the Site and Content thereon. It is possible that the Site could include typographical errors, inaccuracies or other errors, and that unauthorized additions, deletions and alterations could be made to the Site by third parties. In the event that an inaccuracy arises, please inform Luv1 so that it can be corrected. Information contained on the Site may be changed or updated without notice. Additionally, Luv1 shall have no responsibility or liability for information or Content posted to the Site from any non-Luv1 affiliated third party.
                                    </div>
                                </div>
                            </div>
                        </li>
                         <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Online Payments</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                        You can make payments on your Luv1 Account on and through the Site. We accept payments by credit card, debit card, and electronic funds transfers from your checking account (each is referred to as a “<b>Payment Account</b>”).  If a credit card or debit card is being used for a payment, Luv1 may obtain preapproval for an amount up to the amount of the payment. (If you use a debit card for a payment, your bank may place a hold on funds in your bank account in excess of the amount of your payment, pursuant to your bank’s policies.  Please contact your bank if you have questions about their policies.) 
                                        You represent and warrant that if you are making online payments that (i) any credit card, debit card and bank account information you supply is true, correct and complete, (ii) charges incurred by you will be honored by your credit/debit card company or bank, (iii) you will pay the charges incurred by you in the amounts posted, including any applicable taxes, and (iv) you are the person in whose name the card was issued and you are authorized to make a purchase or other transaction with the relevant credit card and credit card information. If your bank or credit card issuer fails to pay the amount that you authorized us to charge to your Payment Account by the payment due date for any reason, we will reverse the credit to your Luv1 account and we may charge you a returned payment fee, as disclosed in the Luv1 Revolving Account Agreement, which has been previously provided to you.

                                    </div>
                                </div>
                            </div>
                        </li>
                         <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Links to Third Party Websites</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                      Luv1 makes no representations whatsoever about any non-Luv1 website that you may access through this Site. When you access a non-Luv1 site, please understand that it is independent from Luv1, and that Luv1 has no control over the content on that website. In addition, a link to a non-Luv1 website does not mean that Luv1 endorses or accepts any responsibility for the content, or the use, of the linked site. Non-Luv1 Sites may have their own terms of use and/or privacy policy and may have different practices and requirements than Luv1. You are solely responsible for reviewing any terms of use, privacy policy or other terms governing your use of these external website, which you use at your own risk. You are advised to make reasonable inquiries before entering into any transaction, financial or otherwise, and whether online or offline, with any third party related to any external site 
                                    </div>
                                </div>
                                 <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                    It is up to you to take precautions to ensure that whatever you select for your use or download is free of such items as viruses, worms, Trojan horses, and other items of a destructive nature. If you decide to access any of the third-party sites linked to this Site, you do this entirely at your own risk and you hereby irrevocably waive any claim against Luv1 with respect to the content or operation of any external site.                                    </div>
                                </div>
                            </div>
                        </li>
                         <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Third Party Charges and Mobile Alerts</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                     You are solely responsible for any fees or charges incurred to access the Site through an internet service provider or other third party, including without limitation data charges incurred if you are not connected to WiFi access, charges to receive SMS messages or other mobile access, which may be billed to you by your mobile provider.  You agree that Luv1 is not liable in any way for any third-party charges
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">User Generated Content, Reviews, Feedback and other Postings to the Site</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                        The Site may have other interactive features which permit you to submit, upload or post any comments, ideas, suggestions, information, files, images or other materials to other users or persons on the or through the Site (“User Generated Content”).  You agree not to provide any User Generated Content that (1) is defamatory, abusive, libelous, unlawful, obscene, threatening, harassing, fraudulent, pornographic, or harmful, or that could encourage criminal or unethical behavior, (2) violates or infringes the privacy, copyright, trademark, trade dress, trade secrets or intellectual property rights of any person or entity, or (3) contains or transmits a virus or any other harmful component. You agree not to contact other site users through unsolicited e-mail, telephone calls, mailings or any other method of communication. Luv1 shall have a royalty-free, irrevocable, transferable right and license to use the User Generated Content however Luv1 desires, including without limitation, to copy, modify, delete in its entirety, adapt, publish, translate, create derivative works from and/or sell and/or distribute such User Generated Content and/or incorporate such User Generated Content into any form, medium or technology throughout the world. Luv1 is and shall be under no obligation (1) to maintain any User Generated Content in confidence; (2) to pay to you any compensation for any User Generated Content; or (3) to respond to any User Generated Content.                                  
                                    </div>
                                </div>
                                <div class='content-card mb20'>
                                    <div class='content-title mb20 mt10 bolder text-gray'>Monitoring and Enforcement; Termination</div>
                                    <div class='content-description text-gray'>
                                        We have the right to:
                                        <ul>
                                            <li>Remove or refuse to post any User Generated Content for any or no reason in our sole discretion.</li>
                                            <li>Take any action with respect to any User Generated Content that we deem necessary or appropriate in our sole discretion, including if we believe that such User Generated Content violates the Terms of Use infringes any intellectual property right or other right of any person or entity, threatens the personal safety of users of the Site or the public, or could create liability for us.</li>
                                            <li>Disclose your identity or other information about you to any third party who claims that material posted by you violates their rights, including their intellectual property rights or their right to privacy</li>
                                            <li>Take appropriate legal action, including without limitation, referral to law enforcement, for any illegal or unauthorized use of the Site.</li>
                                            <li>Terminate or suspend your access to all or part of the Site for any or no reason.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Monitoring and Enforcement; Termination</div> #}
                                    <div class='content-description text-gray'>
                                       Without limiting the foregoing, we have the right to cooperate fully with any law enforcement authorities or court order requesting or directing us to disclose the identity or other information of anyone posting any materials on or through the Site. YOU WAIVE AND HOLD HARMLESS THE COMPANY AND ITS SERVICE PROVIDERS FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY ANY OF THE FOREGOING PARTIES DURING, OR TAKEN AS A CONSEQUENCE OF, INVESTIGATIONS BY EITHER SUCH PARTIES OR LAW ENFORCEMENT AUTHORITIES.
                                    </div>
                                </div>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Monitoring and Enforcement; Termination</div> #}
                                    <div class='content-description text-gray'>
                                        Luv1 does not regularly review posted User Generated Content but does reserve the right (but not the obligation) to monitor and edit or remove any User Generated Content submitted to the Site. You grant Luv1 the right to use the name that you submit in connection with any User Generated Content. You agree not to use a false email address, impersonate any person or entity, or otherwise mislead as to the origin of any User Generated Content. You are and shall remain solely responsible for the content of any User Generated Content you make. Luv1 and its affiliates take no responsibility and assume no liability for any User Generated Content submitted by you or any third party.                               
                                    </div>
                            </div>
                        </li>
                        <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Competency</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                        You hereby affirm that you are at least 18 years old and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations and warranties set forth in these Terms of Use and to abide by and comply with these Terms of Use.                                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Privacy Policy </a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                        Your use of the Site shall be subject to Luv1 Privacy Policy (the “Privacy Policy”), which can be accessed at: [LINK]. You expressly consent to the practices described in the Privacy Policy. Luv1 reserves the right to modify the Privacy Policy in its discretion from time to time. Access to or use of the Service after any such changes shall constitute your agreement to such changes.
                                    </div>
                                </div>
                            </div>
                        </li>
                          <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Claims of Copyright Infringement </a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                     Luv1 respects the intellectual property rights of others and expects its users to do the same. In accordance with the Digital Millennium Copyright Act ("<b>DMCA</b>"), if you believe that your work has been copied in a manner that constitutes copyright infringement, please follow the procedures set forth below.  
                                    </div>
                                </div>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                         Notices and counter-notices with respect to the Site must meet the then-current statutory requirements imposed by the DMCA (see http://copyright.gov/title17/92appb.html) and should be sent to the agent identified below. We suggest that you consult your legal advisor before filing a notice or counter-notice. Also, be aware that there can be penalties for false claims under the DMCA.
                                    </div>
                                </div>
                                 <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                        <div>Copyright Agent</div>
                                        <div>Luv1</div>
                                        <div>Attention Legal Dept.</div>
                                        <div>[Phone Number] </div>
                                    </div>
                                </div>
                                 <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                         We disclaim any responsibility or liability for copyrighted materials posted by a user or third party on our Site.  
                                    </div>
                                </div>
                                 <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                        Please note that It is our policy in appropriate circumstances to disable and/or terminate the accounts of users who are repeat infringers.
                                    </div>
                                </div>
                                <div class='content-card mb20'>
                                    <div class='content-title mb20 mt10 bolder text-gray'>Notices of Alleged Infringement for Content Made Available through the Luv1 Site</div>
                                    <div class='content-description text-gray'>
                                       If you are a copyright owner, authorized to act on behalf of one, or authorized to act under any exclusive right under copyright, please report alleged copyright infringements taking place on or through our Site by sending us a notice ("<b>Copyright Notice</b>") complying with the following requirements: 
                                    </div>
                                </div>
                                <div class='content-card mb20'>
                                    <div class='content-description text-gray'>
                                        <ul style="list-style:no-style;">
                                            <li>Identify the copyrighted works that you claim have been infringed.</li>
                                            
                                            <li>Identify the material or link you claim is infringing (or the subject of infringing activity) and that access to which is to be disabled, including at a minimum, if applicable, the URL of the link shown on the Site where such material may be found.</li>
                                            
                                            <li>Provide your mailing address, telephone number, and, if available, email address.</li>
                                            
                                            <li>
                                                Include both of the following statements in the body of the Copyright Notice:
                                                <ul style="list-style:none;">
                                                    <li>"I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use)."</li>
                                                    <li>"I hereby state that the information in this notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed."</li>
                                                </ul>
                                            </li>
                                            <li>Provide your full legal name and your electronic or physical signature.
                                                Deliver this Copyright Notice, with all items completed, to our Copyright Agent:
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class='content-card mb20'>
                                    <div class='content-title mb20 mt10 bolder text-gray'>Counter-Notices of Alleged Infringement for Content Made Available through the Luv1 Site</div>
                                    <div class='content-description text-gray'>
                                        If you believe in good faith that a notice of copyright infringement has been wrongly filed against you, the DMCA permits you to send us a counter-notice (“<b>Copyright Counter-Notice</b>”), which must include the following requirements:
                                           <ul style="list-style:no-style;">
                                            <li>Your name, address, and telephone number.</li>
                                            
                                            <li>The source of the content that was removed. </li>
                                            
                                            <li>A statement under penalty of perjury that you have a good-faith belief that the content was removed in error. </li>
                                            
                                            <li>
                                              One of two statements
                                                <ul style="list-style:none;">
                                                    <li>a.	If you are located within the U.S.: “I consent to the jurisdiction of the United States federal district court for the judicial district in which my address is located and will accept service of process from the person who provided the notice set forth above or their agent."</li>
                                                    <li>b.	If you are located outside of the U.S.: “I consent to the jurisdiction of any United States federal district court where AWS is located and will accept service of process from the person who provided the notice set forth above or their agent.”</li>
                                                </ul>
                                            </li>
                                            <li>A physical or electronic signature (for example, typing your full name).
                                                Deliver this Copyright Counter-Notice, with all items completed, to our Copyright Agent:

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class='content-card mb20'>
                                    <div class='content-description text-gray'>
                                       We will review your Copyright Counter-Notice once we receive it. If your Copyright Counter-Notice is complete and valid, we will forward the information you provided to the person who filed the complaint. If they do not notify us within 10-14 business days that they have filed a lawsuit against you, we will take steps to restore the content that we’ve removed or disabled.
                                    </div>
                                </div>
                            </div>
                        </li>
                          <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Disclaimer of Warranties</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                        LUV1 DOES NOT WARRANT THAT ACCESS TO OR USE OF THE SITE WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT DEFECTS IN THE SITE WILL BE CORRECTED. THIS SITE, INCLUDING ANY CONTENT OR INFORMATION CONTAINED WITHIN IT OR ANY SITE-RELATED SERVICE, IS PROVIDED "AS IS," WITH ALL FAULTS, WITH NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUALITY OF INFORMATION, QUIET ENJOYMENT, AND TITLE/NON-INFRINGEMENT. LUV1 DOES NOT WARRANT THE ACCURACY, COMPLETENESS OR TIMELINESS OF THE INFORMATION OBTAINED THROUGH THE SITE.                                    
                                    </div>
                                </div>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                       YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR USE OF THIS SITE, SITE-RELATED SERVICES, AND LINKED WEBSITES. LUV1 DOES NOT WARRANT THAT FILES AVAILABLE FOR DOWNLOAD WILL BE FREE OF VIRUSES, WORMS, TROJAN HORSES OR OTHER DESTRUCTIVE PROGRAMMING. YOU ARE RESPONSIBLE FOR IMPLEMENTING PROCEDURES SUFFICIENT TO SATISFY YOUR NEEDS FOR DATA BACK UP AND SECURITY. ALL OF THE FOREGOING WARRANTIES ARE EXPRESSLY DISCLAIMED TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW              
                                    </div>
                                </div>
                                  <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                      WARRANTIES RELATING TO PRODUCTS OR SERVICES OFFERED, SOLD AND DISTRIBUTED BY LUV1 ON THE SITE ARE SUBJECT TO SEPARATE WARRANTY TERMS AND CONDITIONS, IF ANY, PROVIDED WITH OR IN CONNECTION WITH THE APPLICABLE PRODUCTS OR SERVICES.
                                    </div>
                                </div>
                                
                            </div>
                        </li>
                           <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Limitation of Liability Regarding Use of Site</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                       COMPANY AND ANY THIRD PARTIES MENTIONED ON THIS SITE ARE NEITHER RESPONSIBLE NOR LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, PUNITIVE, OR OTHER DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, THOSE RESULTING FROM LOST PROFITS, LOST DATA, OR BUSINESS INTERRUPTION) ARISING OUT OF OR RELATING IN ANY WAY TO THE SITE, SITE-RELATED SERVICES, CONTENT OR INFORMATION CONTAINED WITHIN THE SITE, AND/OR ANY LINKED WEBSITE, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY AND WHETHER OR NOT ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE SITE, SITE-RELATED SERVICES, AND/OR LINKED WEBSITES IS TO STOP USING THE SITE AND/OR THOSE SERVICES. TO THE EXTENT ANY ASPECTS OF THE FOREGOING LIMITATIONS OF LIABILITY ARE NOT ENFORCEABLE, THE MAXIMUM LIABILITY OF COMPANY TO YOU WITH RESPECT TO YOUR USE OF THIS SITE IS $500 (FIVE HUNDRED DOLLARS).
                                    </div>
                                </div>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                      SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF CERTAIN WARRANTIES AND/OR LIABILITIES, SO CERTAIN OF THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU
                                    </div>
                                </div>
                                
                            </div>
                        </li>
                        <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Geographic Restrictions</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                     We are based in the state of Coloradoin the United States. We provide this Site for use only by persons located in the United States. We make no claims that the Site or any of its content is accessible or appropriate outside of the United States. Access to the Site may not be legal by certain persons or in certain countries. If you access the Site from outside the United States, you do so on your own initiative and are responsible for compliance with local laws.
                                    </div>
                                </div>
                                
                            </div>
                        </li>
                        <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Indemnification</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                    You agree to fully indemnify, defend (at Luv1’s request), and hold harmless Luv1, our agents, successors, and assigns, and our and their directors, officers, employees, consultants and other representatives (collectively, the “<b>Luv1 Parties</b>”) from and against any and all claims, damages, losses, costs (including reasonable attorneys’ fees) and other expenses that arise directly or indirectly out of or from: (i) your actual or alleged breach of these Terms of Use; (ii) any allegation that any User Content, User Generated Content, or other materials you submit to us or transmit to the Site infringe, misappropriate, or otherwise violate the copyright, patent, trademark, trade secret or other intellectual property or other right of any third party; (iii) your activities in connection with the Site or any other website to which the Site is linked; (iv) your negligence or willful misconduct; (v) your use of the results, content, products, services, software, data, or information provided via the Site; (vi) any service or product offered by you in connection with or related to your use of the Site; and/or (vii) your violation of any applicable law.
                                    </div>
                                </div>
                                
                            </div>
                        </li>
                         <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Dispute Resolution; Arbitration Agreement</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                   We will try work in good faith to resolve any issue you have with Site, including payments made through the Site, if you bring that issue to the attention of our customer service department. However, we realize that there may be rare cases where we may not be able to resolve an issue to a customer's satisfaction.
                                    </div>
                                </div>
                                
                            </div>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray'>
                                        Unless you opt out (as described below), you and Luv1 agree that any dispute, claim or controversy arising out of or relating in any way to your use of the Site, including payments made, and any products and services order or purchased through the Site, shall be determined by binding arbitration instead of in courts of general jurisdiction. Arbitration is more informal than bringing a lawsuit in court. Arbitration uses a neutral arbitrator instead of a judge or jury, and is subject to very limited review by courts. Arbitration allows for more limited discovery than in court, however, we agree to cooperate with each other to agree to reasonable discovery in light of the issues involved and amount of the claim. Arbitrators can award the same damages and relief that a court can award, but in so doing, the arbitrator shall apply substantive law regarding damages as if the matter had been brought in court, including without limitation, the law on punitive damages as applied by the United States Supreme Court. You agree that, by agreeing to these Terms of Use, the U.S. Federal Arbitration Act governs the interpretation and enforcement of this provision, and that you and Luv1 are each waiving the right to a trial by jury or to participate in a class action. This arbitration provision shall survive termination of these Terms of Use and any other contractual relationship between you and Luv1.
                                    </div>
                                </div>
                                
                            </div>
                               <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    <div class='content-title mb20 mt10 bolder text-gray'>Notice Process</div>
                                    <div class='content-description text-gray'>
                                        If you desire to assert a claim against Luv1, and you therefore elect to seek arbitration, you must first send to Luv1, by certified mail, a written notice of your claim (" <b>Arbitration Notice</b>"). The Arbitration Notice to Luv1 should be addressed to: Luv1, ADDRESS, Attention Legal Dept. ("<b>Notice Address</b>"). If Luv1 desires to assert a claim against you and therefore elects to seek arbitration, it will send, by certified mail, a written Arbitration Notice to the most recent address we have on file or otherwise in our records for you. An Arbitration Notice, whether sent by you or by Luv1, must (a) describe the nature and basis of the claim or dispute; and (b) set forth the specific relief sought ("<b>Demand</b>"). If Luv1 and you do not reach an agreement to resolve the claim within 30 days after the Arbitration Notice is received, you or Luv1 may commence an arbitration proceeding or file a claim in small claims court. 
                                    </div>
                                </div>
                                
                            </div>
                               <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    <div class='content-title mb20 mt10 bolder text-gray'>Arbitration process</div>
                                    <div class='content-description text-gray mb10'>
                                       You may download or copy a form Arbitration Notice and a form to initiate arbitration from the American Arbitration Association at www.adr.org. If you are required to pay a filing fee, after Luv1 receives notice at the Notice Address that you have commenced arbitration, it will promptly reimburse you for your payment of the filing fee, unless your claim is for more than US $10,000. The arbitration will be governed by the Commercial Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes (collectively, "<b>AAA Rules</b>") of the American Arbitration Association ("<b>AAA</b>"), as modified by these Terms of Use, and will be administered by the AAA. The arbitrator is bound by the terms of these Terms of Use. All issues are for the arbitrator to decide, including issues relating to the scope and enforceability of these Terms of Use, including this arbitration agreement. Unless Luv1 and you agree otherwise, any arbitration hearings will take place in the county (or parish) of your billing address. (If you reside outside of the United States, any arbitration hearings will take place in your country of residence at a location reasonably convenient to you, but will remain subject to the AAA Rules including the AAA rules regarding the selection of an arbitrator). If your claim is for US $10,000 or less, we agree that you may choose whether the arbitration will be conducted solely on the basis of documents submitted to the arbitrator, through a telephonic hearing, or by an in-person hearing as established by the AAA Rules. If your claim exceeds US $10,000, the right to a hearing will be determined by the AAA Rules. Regardless of the manner in which the arbitration is conducted, the arbitrator shall issue a reasoned written decision sufficient to explain the essential findings and conclusions on which the award is based. If the arbitrator issues you an award that is greater than the value of Luv1’s last written settlement offer made before an arbitrator was selected (or if Luv1 did not make a settlement offer before an arbitrator was selected), then Luv1 will pay you the amount of the award or US $1,000, whichever is greater. Except as expressly set forth herein, the payment of all filing, administration and arbitrator fees will be governed by the AAA Rules. Each party shall pay for its own costs and attorneys' fees, if any. However, if any party prevails on any claim that affords the prevailing party attorneys' fees, or if there is a written agreement providing for payment or recovery attorneys’ fees, reasonable fees shall be awarded to the substantially prevailing party, under the standards for fee shifting provided by law.  
                                    </div>
                                    <div class='content-description text-gray mb10'>
                                       YOU AND COMPANY AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. Further, unless both you and Luv1 agree otherwise, the arbitrator may not consolidate more than one person's claims with your claims, and may not otherwise preside over any form of a representative or class proceeding. The arbitrator may award declaratory or injunctive relief only in favor of the individual party seeking relief and only to the extent necessary to provide relief warranted by that party's individual claim. During the arbitration, the amount of any settlement offer made by Luv1 or you shall not be disclosed to the arbitrator.
                                    </div>
                                </div>
                                
                            </div>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    <div class='content-title mb20 mt10 bolder text-gray'>Confidentiality </div>
                                    <div class='content-description text-gray mb10'>
                                        Any arbitration will be confidential. Neither you, Luv1, the AAA, nor the arbitrator may disclose the existence, content (including any oral or written submissions), or results of any arbitration, except as may be required by applicable law or for purposes of enforcing or challenging of the arbitration award.                                    
                                    </div>
                                </div>
                                
                            </div>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    <div class='content-title mb20 mt10 bolder text-gray'>Opt Out </div>
                                    <div class='content-description text-gray mb10'>
                                        You may opt-out of this dispute resolution procedure by providing written notice to Luv1 at [NOTICE ADDRESS] no later than thirty (30) calendar days from the date of first use of the Site.  Opting out of this dispute resolution procedure will not otherwise affect the coverage or applicability of  these Terms of Use or your ability to use the Site in any way.
                                    </div>
                                </div>
                                
                            </div>
                        </li>
                        <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Governing Law and Forum</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray mb10'>
                                         Without limiting any of the foregoing, disputes between you and Luv1 shall be governed by, and construed and interpreted in accordance with, the Federal Arbitration Act, applicable federal law, and the laws of the State of Colorado without regard to conflict of laws principles
                                    </div>
                                    <div class='content-description text-gray mb10'>
                                        If this Arbitration provision is found to be unenforceable or if you opt out of arbitration in accordance with these Terms of Use, then (a) the entirety of this arbitration provision shall be null and void, but the remaining provisions of these Terms of Use shall remain in full force and effect; and (b) you and Luv1 acknowledge and consent to the exclusive jurisdiction and venue for any claims being in state or federal courts in Denver, Colorado.
                                    </div>
                                </div>
                                
                            </div>
                        </li>
                        <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Notice for California Users</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray mb10'>
                                        Under California Civil Code Section 1789.3, California Service users are entitled to the following specific consumer rights notice: The Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs may be contacted in writing at 1625 N. Market Blvd., Suite N 112, Sacramento, California 95834, or by telephone at (800) 952-5210.
                                    </div>
                                </div>
                                
                            </div>
                        </li>
                        <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">Revisions</a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray mb10'>
                                       In its sole discretion and at any time, Luv1 may revise these Terms of Use by updating this posting. You should, therefore, periodically visit this page to review the current Terms of Use, so you are aware of any such revisions to which you are bound. Certain provisions of these Terms of Use may be superseded by expressly designated legal notices or terms located on particular pages within this Site.  If you continue to access and use the Site after the effective date of these changes, you will be deemed to have accepted these changes. If you do not accept such changes, you should not use or access the Site.
                                    </div>
                                </div>
                                
                            </div>
                        </li>
                         <li class="accordion-item mb10" data-accordion-item>
                            <a href="#" class="accordion-title bg-skyblue text-gray bolder">General   </a>
                            <div class="accordion-content bg-skyblue" data-tab-content>
                                <div class='content-card mb20'>
                                    {# <div class='content-title mb20 mt10 bolder text-gray'>Your Rights</div> #}
                                    <div class='content-description text-gray mb10'>
                                      Luv1 reserves the right, in its sole discretion and at any time, to terminate your access to all or part of this Site, with or without cause, and with or without notice. The failure by Luv1 to enforce any provision or right contained in these Terms of Use will not be deemed a waiver of such provision or right. In the event that any of the Terms of Use are held by a court or other tribunal of competent jurisdiction to be unenforceable, such provisions shall be limited or eliminated to the minimum extent necessary so that these Terms of Use shall otherwise remain in full force and effect. These Terms of Use constitute the entire agreement between Luv1 and you pertaining to the subject matter hereof. 
                                    </div>
                                           <div class='content-description text-gray mb10'>
                                      These Terms of Use may not be changed, waived or modified except by Luv1 posting such changes, waivers or modifications within the Site. If any employee of Luv1 offers to modify these Terms of Use, he or she is not acting as an agent for Luv1 or speaking on Luv1’s behalf. You may not rely, and should not act in reliance on, any statement or communication from an employee of Luv1 or anyone else purporting to act on Luv1’s behalf. These Terms of Use are between you and Luv1; there are no third-party beneficiaries. You are responsible for compliance with all applicable laws. No agency, partnership, joint venture, employee-employer or franchiser-franchisee relationship is intended or created by these Terms of Use. Neither this Agreement nor any right, obligation or remedy hereunder is assignable, transferable, delegable or sublicensable by you except with Luv1’s prior written consent, and any attempted assignment, transfer, delegation or sublicense shall be null and void. Luv1may assign, transfer or delegate these Terms of Use or any right or obligation or remedy hereunder in its sole discretion. Luv1 shall not be in breach of this Agreement nor liable for any delay in performing, or failure to perform, any of its obligations under this Agreement, if such delay or failure result from events, circumstances or causes beyond its reasonable control. Any heading, caption or section title contained in these Terms of Use is inserted only as a matter of convenience, and in no way defines or explains any section or provision hereof. As used in these Terms of Use, “including” means “including without limitation”.
                                    </div>
                                </div>
                                
                            </div>
                        </li>
                    </ul>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <!--Question 1 end-->
        </div>
      </div>
 {% include 'js.html.twig' %}
   
{% endblock %}