{% extends 'Home/main.html.twig' %}

{% block content %}
<div class='main-content'>
    <div class="grid-x form-grid">
      <div class="cell large-6 medium-12 small-12 yellow">
        <div class='page-title-container'>
          <div class="page-text-container travel_content">
             <h4>Preserve Your Legacy</h4>
            <p> Unlock the treasures of personal and family history with our premium service – a hosted conversation between love ones, sculpted into a timeless keepsake! A Story Guide, renowned and seasoned in radio broadcasting, guides this intimate dialogue between family members, weaving memorable and historic moments into a polished, podcast-style episode. Whether it’s a son exploring his father’s military journey, a daughter delving into her mother’s immigrant story, or a poignant sharing of battle with illness, every tale is unique, personal, and cherished. Discover the untold stories of your lineage and cement them into audible memories to be relished and shared eternally!</p>  
            <p class="">Preserve your legacy, unlock stories never told or retold a thousand times. Book your Luv1 Conversation session now and embrace the gift of a shared conversation! Connect generations, celebrate stories, and create a treasure trove of familial bonds!</p>   
              

            <div class="mt30 p40 text-sm-center b-container">
              <a class="btn-a text-white primary-button  font-sm-13" href="/book_bow">Book Now</a>
            </div>
        </div>
     
        </div>
      </div>
      <div class="cell large-6 medium-12 small-12   ">
        <div class='page-title-container'>
           <img src="/assets/img/luv1_conversation.png">
        </div>
       </div>
    </div>

  </div>
{% include 'js.html.twig' %}

<script type='text/javascript'>


</script>    
    
{% endblock %}