
 {% extends "main.html.twig" %}

{% block content %}

   <div class="grid-x">
      <div class="cell large-6 medium-12 small-12 small-order-2 large-order-1">
        <div class="content-container page-content-cage mint-yellow">
            <div class="grid-x">
                  <div class="cell large-12 medium-12 small-12 small-order-1 large-order-2">
                    <div class="page-text-container travel_content">
                      <h3>Capture Your Adventures in a Keepsake Narrative</h3>
                      <p>
                           Every journey holds a story, and your vacation memories deserve to be told in the most compelling way. Capture the magic of your travels with a LuvMyTravel session. Our seasoned Story Guides are here to delve deep into the soul of your adventures, whether you
                           are reminiscing about that sun-soaked vacation in Hawaii or the breathtaking backpacking journey through Thailand.
                      </p> 
                      <p>
                           Imagine revisiting the wonders of the Alaskan cruise of 2001, but with a narrative finesse that captures the very essence of your experiences. We breathe life into your journeys, weaving together the most vibrant threads of your travel tapestry into tales that
                           resonate, inspire, and transport.                   
                      </p> 
                      <p>
                           Don't just remember your travels, relive them with a vividness that only a crafted narrative can provide.
            
                      </p>   
                      <p>
                        Book a LuvMyTravel session now, and let the world be enchanted by your travel stories.
                      </p>   
            
                    </div>
                    <div class="mt30 p40 text-sm-center">
                        <a class="btn-a text-white primary-button  font-sm-13" href="/book_bow">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="cell large-6 medium-12 small-12 right-content small-order-1 large-order-2">

        <div class="content-container page-content-container page-content-cage">
            <div class="img-container mint-yellow"><img src="/assets/img/travel.png"></div>
        </div>
      </div>
    </div>
     {# <div class="grid-x grid-main ">
    <div class="cell large-12">
        <div class="container">
            <div class="text-container p30 ">
                <div class='content-text mt20'>Travel broadens our horizons in a way that no reading matter can ever achieve. With new lands, sights and smells, and the richness of diverse cultures, travel can open our eyes and expand our minds like no other experience in this world. At LuvMyStory, we want to hear about your journey.</div>
                <div class='content-text mt10 content-text-label'>Where did you go, and what did you do that changed your life and your views on our world? Document your experience so that you and those closest to you can refer to this for a lifetime.</div>
            </div>
        </div>
    </div>
</div>  #}

{% include 'js.html.twig' %}

{% endblock %}