{% extends 'Home/main.html.twig' %}

{% block content %}
<div class='main-content'>
    <div class="grid-x form-grid">
      <div class="cell large-6 medium-12 small-12 mint-yellow">
        <div class='page-title-container'>
          <div class="page-text-container travel_content">
            <h4>Capture Your Adventures in a Keepsake Narrative</h4>
            <p>
                  Every journey holds a story, and your vacation memories deserve to be told in the most compelling way. Capture the magic of your travels with a LuvMyTravel session. Our seasoned Story Guides are here to delve deep into the soul of your adventures, whether you
                  are reminiscing about that sun-soaked vacation in Hawaii or the breathtaking backpacking journey through Thailand.
            </p> 
            <p>
                  Imagine revisiting the wonders of the Alaskan cruise of 2001, but with a narrative finesse that captures the very essence of your experiences. We breathe life into your journeys, weaving together the most vibrant threads of your travel tapestry into tales that
                  resonate, inspire, and transport.                   
            </p> 
            <p>
                  Don't just remember your travels, relive them with a vividness that only a crafted narrative can provide.

            </p>   
            <p>
              Book a LuvMyTravel session now, and let the world be enchanted by your travel stories.
            </p>  

            <div class="mt30 p40 text-sm-center b-container">
              <a class="btn-a text-white primary-button  font-sm-13" href="/book_bow">Book Now</a>
          </div>
        </div>
     
        </div>
      </div>
      <div class="cell large-6 medium-12 small-12   ">
        <div class='page-title-container'>
           <img src="/assets/img/travel.png">
        </div>
       </div>
    </div>

  </div>
{% include 'js.html.twig' %}

<script type='text/javascript'>


</script>    
    
{% endblock %}