{% extends 'base.html.twig' %}

{% block main %}

<div class="grid-x grid-padding-x align-center-middle text-center fullheight bg-white " id="updatePasswordContainer">
  <div class="cell large-4 text-left">
    <div class="formContainer">
      <div class='mb40'>
      <a href="/"> <img src="/assets/img/mystory-logo-pink.png" class='header-logo'></a>
    </div>
    <div class='mb30'>
      <h6>Create Password</h6>
    </div>
    <div>
        <form id='updatePasswordForm' action="{{ path('home_update_password', {token: token})}}" method="POST">
            <div>
               <label>New Password<label>
                {{ form_widget(form.password.first)}}
            </div>
            <div>
               <label>Confirm  Password<label>

                {{ form_widget(form.password.second)}}
            </div>
            <button type="submit" class='button'>Save</button>
            {{ form_widget(form._token) }}
        </form>
    </div>
    </div>
  </div>
</div>

{% include 'js.html.twig' %}

<script type='text/javascript'>
  $(document).ready(function(){
    $('body').css('padding-top', '0px');

  
  });
</script>    
    
{% endblock %}