{% extends 'Home/main.html.twig' %}

{% block content %}
     <div class="extender-lines blue"></div>  
    <div class="grid-x">
      <div class="cell large-6 medium-12 small-12 right-content small-order-1 large-order-1 blue">
        {# <img class="img-logo" src="/assets/img/why_and_how.png" > #}
        <div class="content-container page-content-container ">
            <div class="img-container blue stories-2-img-container"><img src="/assets/img/why_and_how.png"></div>
        </div>
      </div>
      <div class="cell large-6 medium-12 small-12 small-order-2 large-order-2">
        <div class="content-container page-content-cage stories-2-content-container blue ">
            <div class="grid-x">
                <div class="cell large-12">
                  <div class="page-text-container text-white">
                      <h3 class='text-white'>Unleash Your Unique Career Journey</h3>
                      <p class='text-white'>
                          Sharing stories about our lives, families, jobs, and businesses is important for many reasons. Our stories show who we are, what we value, and where we come from, helping us understand and connect with each other. They keep our heritage alive and create a sense
                          of belonging. When we tell our stories, we share our experiences and lessons, which can help others. In the workplace and the business world, stories put a face to our brands and build stronger connections. We are all made of stories, and sharing them builds
                          a richer, more understanding world, bringing diverse people together and promoting growth.
                      </p> 
                      <p class='text-white'>
                        Extend</br/>
                        your legacy and share a story. Book a LuvMyStory™ session today.
                      </p>  
                  </div>
              </div>
            </div>
            <div class="clear-fix"></div>
            <div class="grid-x">
                <div class="cell large-12">
                    {# <div class="button-container">
                        <a class="button text-yellow">LEARN MORE</a>
                    </div> #}
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="extender-lines blue"></div>
  {% include 'js.html.twig' %}
  
{% endblock %}