<div id="shareWithContainer">
    <div class="modal-share-container "><!--hide-->
        <div class="modal-content-container">
            <form id='shareForm'>
                {# <div class="modal-hdr">
                    <h5>Archive Story</h5>
                </div> #}
                <div class="mdl-form-container">
                    <h6 style="font-weight:600;">Are you sure you want to {{q["action"]}} this story?</h6>
                    <input type="hidden" name='id' value='{{q["id"]}}'>
                    <input type="hidden" name='action' value='{{q["action"]}}'>
                </div>
                <div class="btn-bottom-container">
                    <button class="share-btn" type='submit'>Yes</button>
                    <button class="cancel-btn" type='button' class="close-button" data-close aria-label="Close modal">No</button>
                    <div class="clear-fix"></div>
                </div>
            </form>
        </div>
    </div>
</div>



<script type='text/javascript'>

    $(document).ready(function(){

        var formUrl = '{{ path("story_ajax_delete")}}';

        global.init();

        $('#shareForm').submit(function(e){

            e.preventDefault();
            _this = $(this);
            _this.find(':input[type=submit]').prop('disabled', true);
            var formData = $(this).serialize();
            $.ajax({
                url: formUrl,
                data: formData, 
                type: "post",
                dataType: "JSON",
                success: function(r){
                    if(r.success){

                        toastr.success(r.msg);
                        $('#modal').foundation('close');


                        if(typeof archive != 'undefined'){
                            archive.dataList.draw();
                        } else if(typeof telling != 'undefined'){
                            window.location = '/story';

                        } else {
                             $('#storyDetails' + r.id).remove();

                        }


                    } else {
                      toastr.error(r.msg);
                        _this.find(':input[type=submit]').prop('disabled', false);

                    }
                }
            });
        });

    });
</script>