{% extends "Dashboard/main.html.twig" %}

{% block content %}

<div class="grid-container fluid">
    <div class="grid-x grid-margin-x">
       <div class='cell large-12'>
           <div class='p50'>
                This is a archive page
           </div>
       </div>
    </div>
</div>

{% include 'js.html.twig' %}

<script language="javascript">
//<![CDATA[
    $(document).ready(function(){
    });
//]]>
</script>
{% endblock %}