{% extends "Dashboard/main.html.twig" %}

{% block content %}

<div class="grid-container fluid">
    <div class="grid-x grid-margin-x">
       <div class='cell large-12'>
           <div class='p50'>
                <div>
                    <h4 class='bold'>SHARED STORIES</h4>
                </div>
                <div>
                     <table id="share-stories-datalist" class=" nowrap" style="width:100%" width="100%;">
                        <thead>
                            <tr>
                                <th>Story</th>
                                <th>Sharer</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
           </div>
       </div>
    </div>
</div>

{% include 'js.html.twig' %}

<script language="javascript">
//<![CDATA[
    $(document).ready(function(){
        share.settings.ajaxUrl = '{{ path('story_share_ajax_list') }}';
        share.settings.ajaxDeleteUrl = '{{ path('story_ajax_remove_share_story') }}';
        share.init();
    });
//]]>
</script>
{% endblock %}