{% extends "Dashboard/main.html.twig" %}

{% block content %}

<div class="grid-container fluid">
    <div class="grid-x grid-margin-x">
       <div class='cell large-12'>
           <div class='p50'>
                <div>
                    <h4 class='bold'>All Schedules</h4>
                </div>
                <div>
                     <table id="schedules-datalist" class=" nowrap" style="width:100%" width="100%;">
                        <thead>
                            <tr>
                                <th>Client</th>
                                <th>Schedule Type</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Interviewer</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
           </div>
       </div>
    </div>
</div>

{% include 'js.html.twig' %}

<script language="javascript">
//<![CDATA[
    $(document).ready(function(){
        schedules.settings.ajaxUrl = '{{ path('schedule_ajax_list') }}';
        schedules.init();
    });
//]]>
</script>
{% endblock %}