
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuvMyStory</title>
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/foundation.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/dataTable/datatable.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900,800|Ubuntu:400,500,600,700,900,800" rel="stylesheet">
    <link rel="stylesheet" href="/assets/toastr/toastr.min.css?v=1.1.4">
    <link rel="stylesheet" href="/assets/fontawesome-free-6.4.0-web/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css?v={{assets_version}}">
    <link rel="stylesheet" href="/assets/css/responsive.css?v={{assets_version}}">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.css">
    <link rel="stylesheet" href="/plugins/jquery-ui/jquery-ui.min.css">   

  </head>
  <body>

    {% set userData = app.session.get('userData') %}
    {% set current_path = app.request.get('_route') %}
    <div class='main-container'>
      <div class='container-box'>
      
        {% block main %}{% endblock %} 
      </div>
    </div>

  </body>
</html>
