{% extends "base.html.twig" %}

{% block main %}
    {% include 'Home/header.html.twig' %}
    <div class='header-subd'></div>
    {% block content %}
        {% include 'Home/footer.html.twig' %}
    {% endblock %}    
{% endblock %}    
