{% extends "Dashboard/main.html.twig" %}

{% block content %}
    <div class="lms-merch-wraper">
            <div class="lms-merch-left-column"></div>
            <div class="lms-merch-right-column merch-right-wrap">
                <div class="merch-content">
                    <img src="/assets/img/icon_merch_content.svg" />
                    <h4>LuvMyStory Merch</h4>
                    <h2>Indulge in seamless shopping bliss! </h2>
                    <p>Click below to explore our curated collection and elevate your online shopping experience with THE LUVMYSTORY STORE.</p>
                    <a class="button pink" href='https://www.bonfire.com/store/the-luvmystory-store/' target="_blank">Shop Now</a>
                </div>
            </div>
    </div>
{% include 'js.html.twig' %}

{% endblock %}