{% extends "Dashboard/main.html.twig" %}

{% block content %}
<div class="callout primary">
    <div class="row column">
        <h1>Hello! This will be the dashboard.</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla.</p>
    </div>
</div>
{% include 'js.html.twig' %}

{% endblock %}