<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
<!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]-->
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="width=device-width" name="viewport"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<title>LuvMyStory</title>
<body>

    <div style='margin-bottom:25px'>Hello!</div>
    
    <div>I’m inviting you to listen to one of my favorite personal stories at LuvMyStory™️.  It’s free to </br>
         sign-up and listen. <a href="{{ path('home_registration') }}"></a>
    </div>
    <div style='margin-top:10px;'>I hope you enjoy my story as much as enjoyed recording it.</div>
    <div  style='margin-top:15px;'>Warm regards,</div>
    <div>{{story.schedule.user.fullname}}</div>
</body>
</html>